<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armas Antiguas Osvaldo Gatto - Inicio</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/fontfiles.html') %>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/favicon.html') %>
</head>
<body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">        
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/header.html') %>
        <main id="main">
            <article>
                <h1>Bienvenidos a Armas Antiguas Osvaldo Gatto</h1>
                <p>Todas las piezas que ver&aacute; a continuaci&oacute;n son fabricadas artesanalmente, &iacute;ntegramente a mano.
                    Son armas de avancarga completamente funcionales, capaces de disparar munici&oacute;n real de plomo con cargas de p&oacute;lvora negra.
                    Lo invitamos a recorrer nuestro sitio y a conocer <a href="#productos">nuestra amplia gama de productos.</a></p>                
                <p>
                    <span class="aaog-since-comp">
                        <span><script>document.write(new Date().getFullYear() - 1984)</script></span>
                    </span>a&ntilde;os hace que somos una f&aacute;brica especializada en el rubro de la avancarga. Somos los &uacute;nicos fabricantes de r&eacute;plicas funcionales de armas y ca&ntilde;ones de avancarga reconocidos y habilitados en Sudam&eacute;rica.</p>
                <section class="aaog-main-section" aria-labelledby="products">
                    <h2 id="products">Cat&aacute;logo</h2>
                    <ul class="aaog-split-choice">
                        <li><a href="" class="aaog-btn aaog-img-original"><span>Ver oferta de armas originales</span></a></li>
                        <li><a href="#productos" class="aaog-btn aaog-img-replica"><span>Ver Cat&aacute;logo de R&eacute;plicas</span></a></li>                        
                    </ul>
                    <div class="aaog-separator"></div>
                </section>
                <section class="aaog-main-section" id="newsSection" aria-labelledby="novedades">
                    <h2 id="novedades">Novedades</h2>
                    <div role="status" id="loadingNews">
                        <img src="src/imagenes/loading.gif" alt="">
                        <p class="aaog-visuallyhidden">Cargando Noticias</p>
                    </div>
                    <ul class="aaog-news-wrapper"></ul>
                    <p class="aaog-text-center"><a href="/novedades" class="aaog-btn">Ver Todas Las Noticias</a></p>                
                    <div class="aaog-separator"></div>
                </section>
                <section class="aaog-main-section" aria-labelledby="productos">
                    <h2 id="productos">Productos</h2>
                    <p>Contamos con una amplia variedad de productos.</p>
                    <ul class="aaog-products-container">
                        <li class="aaog-product-wrapper">
                            <figure>
                                <img loading="lazy" src="src/imagenes/riflesypistolas.jpg" alt="Una amplia colecci&oacute;n de r&eacute;plicas de armas de avancarga realizadas por Armas Antiguas Osvaldo Gatto">
                            </figure>
                            <h3>Pistolas y Fusiles</h3>
                            <p>Armas de avancarga utilizadas con una sola mano y largas, r&eacute;plicas funcionales (disparan con p&oacute;lvora negra) de armas que han forjado la historia.</p>
                            <p class="aaog-text-center"><a href="pistolasyfusiles.html" class="aaog-btn">Ir a Pistolas y Fusiles</a></p>
                        </li>
                        <li class="aaog-product-wrapper">
                            <figure>
                                <img loading="lazy" src="src/imagenes/productos/canones/canones.jpg" alt="Dos r&eacute;plicas de ca&ntilde;ones de campo a escala fabricados en bronce">
                            </figure>
                            <h3>Artiller&iacute;a</h3>
                            <p>Fabricamos una amplia gama de ca&ntilde;ones de campo y navales, tambi&eacute;n de morteros, r&eacute;plicas fieles y exactas de los utilizados por las flotas y ejercitos de los grandes imperios. De s&oacute;lida construcci&oacute;n, son capaces de disparar munici&oacute;n real de plomo utilizando cargas de p&oacute;lvora negra.</p>
                            <p class="aaog-text-center"><a href="artilleria.html" class="aaog-btn">Ir a Artiller&iacute;a</a></p>
                        </li>
                        <li class="aaog-product-wrapper">
                            <figure>
                                <img loading="lazy" src="src/imagenes/productos/accesorios/ac001_imagen.jpg" alt="Cuerno Polvorero">
                            </figure>
                            <h3>Accesorios</h3>
                            <p>Ponemos a su disposici&oacute;n una amplia variedad de implementos indispensables para el tiro con avancarga. Cuernos polvoreros, baquetas y baquetones de carga, calepinos y todos los tamaños de municiones para utilizar con las armas que producimos.</p>
                            <p class="aaog-text-center"><a href="accesorios.html" class="aaog-btn">Ir a Accesorios</a></p>
                        </li>
                        <li class="aaog-product-wrapper">
                            <figure>
                                <img loading="lazy" src="src/imagenes/productos/militaria/V_lf2_01.jpg" alt="Pistola antigua de dos ca&ntilde;os belga de fuego central">
                            </figure>
                            <h3>Armas Antiguas y Militaria</h3>
                            <p>Aqu&iacute; ofrecemos armas y art&iacute;culos afines que ocacionalmente se encuentran con DISPONIBILIDAD INMEDIATA</p>
                            <p class="aaog-text-center"><a href="/novedades/" class="aaog-btn">Ir a Armas Antiguas y Militaria</a></p>
                        </li>
                    </ul>                
                </section>
            </article>        
        </main>
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/footer.html') %>
    </div>   
</body>
</html>