<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mosquete de Mecha - Armas Antiguas Osvaldo Gatto -</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="mosquetemecha.html" aria-current="page">Mosquete de Mecha</a>
              </li>
            </ul>
          </nav>
          <h1>Mosquete de Mecha <span class="aaog-code">C&oacute;digo: AL003</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="483"
                data-pswp-height="214"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha1.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha1.jpg"
                    alt="Mosquete de Mecha visto desde la platina"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="287"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/al003_imagen002.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/al003_imagen002.jpg"
                    alt="Mosquete de mecha en pleno disparo"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="358"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha2.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha2.jpg"
                    alt="Detalle de la platina de mecha"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="358"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha3.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha3.jpg"
                    alt="Vista cenital del ca&ntilde;&oacute;n y sus marcas"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="358"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha4.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha4.jpg"
                    alt="Vista detalle de platina"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
                <a
                  data-pswp-width="450"
                  data-pswp-height="358"
                  href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha5.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha5.jpg"
                      alt="Vista detalle de platina con la cazoleta abierta"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <p>
                El modelo aqu&iacute; reproducido es un modelo
                 ingl&eacute;s y es s&oacute;lo uno de los posibles mosquetes de mecha del siglo mencionado.
              </p>
              <p>
                El arma de mecha conoci&oacute; su esplendor en la Europa que se estaba unificando en la edad
                 moderna con distintas formas de acuerdo a la utilidad que se le iba a dar tanto en
                  la regi&oacute;n como al otro lado del oc&eacute;ano donde fue c&eacute;lebre como factor psicol&oacute;gico
                   ya que sirvi&oacute; para conquistar y extender los dominios del imperio.
              </p>
              <p>
                Imperio no s&oacute;lo brit&aacute;nico sino tambi&eacute;n espa&ntilde;ol, italiano, holand&eacute;s o cuanto pa&iacute;s estuviera en
                 condiciones de hacerse a la mar y llevar el objetivo de someter lugares nativos a los que
                  incorporar luego en forma de colonia. Sin ir m&acute;s lejos con este procedimiento los japoneses
                   conocieron el arma de mecha y produjeron un modelo particular que si bien utiliza gran parte
                    de los componentes de los europeos termin&oacute; siendo caracter&iacute;stica de la cultura japonesa. Inclusive
                     fabricaron un modelo de pistola que los europeos conocieron con posterioridad.
              </p>              
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                  Mosquete de Mecha 
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    liso
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>61</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de mecha</td>
                </tr>
                <tr>
                  <th scope="row">Cure&ntilde;a:</th>
                  <td>de nogal</td>
                </tr>
                <tr>
                  <th scope="row">Guarniciones:</th>
                  <td>de hierro</td>
                </tr>                
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
