<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Armas Antiguas Osvaldo Gatto - Barnett Pistol</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Skip to Content</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/headereng.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navigation to this page
            </p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="pistolasyfusileseng.html">Pistols and Rifles</a></li>
              <li>
                <a href="barnetteng.html" aria-current="page">Barnett Pistol</a>
              </li>
            </ul>
          </nav>
          <h1>Enfield Pistol (Barnett) <span class="aaog-code">Code: PP002</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett01.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett01.jpg"
                    alt="Barnett Pistol detail from lock"
                  />
                  <span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett02.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett02.jpg"
                    alt="Barnett Pistol from the other side of its lock"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="364"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett03.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett03.jpg"
                    alt="Barrel detail"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett04.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett04.jpg"
                    alt="Pistol side view over a canvas"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett05.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett05.jpg"
                    alt="Ramrod detail view"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett06.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett06.jpg"
                    alt="Comparison original Enfield pistol and our replica"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="4640"
                data-pswp-height="2786"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_141859.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_141859.jpg"
                    alt="Inscriptions on the lock detail view"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="4640"
                data-pswp-height="2786"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_141952.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_141952.jpg"
                    alt="Enfield pistol from left side"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="4640"
                data-pswp-height="2786"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_142248.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_142248.jpg"
                    alt="Drawn Enfield Pistol"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Description</h2>
              <p>
                Manufactured by many companies, one of the most
                prestigious was the Barnett in London.
              </p>
              <p>
                It was used in the navy and in the cavalry. The model
                that is reproduced, was at the service of the Empire of Brazil in
                the Paraguayan War (1865-70).
              </p>
              <p>
                If someone looks for this model of pistol in the catalogs of
                the royal armory is not going to find it or will it find it
                in a section where it is mentioned that it belonged at
                West Indies since the English had
                used to make weapons according to the place where they were going to
                exercise their dominion. There was an
                East Indian version very similar to this model but
                different from this in that the knob or finish is
                flat and has a fixed ring giving the impression of being
                a shorter gun.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Features</h2>
              <table class="aaog-product-table">
                <caption>
                  Enfield Pistol (Barnett)
                </caption>
                <tr>
                  <th scope="row">Barrel:</th>
                  <td>
                    steel, exterior, conical, smooth interior (as its
                    original)
                  </td>
                </tr>
                <tr>
                  <th scope="row">Caliber:</th>
                  <td>.58</td>
                </tr>
                <tr>
                  <th scope="row">Lock:</th>
                  <td>Percussion</td>
                </tr>
                <tr>
                  <th scope="row">Carriage:</th>
                  <td>walnut</td>
                </tr>
                <tr>
                  <th scope="row">Guards:</th>
                  <td>polished brass</td>
                </tr>
                <tr>
                  <th scope="row">Ramrod:</th>
                  <td>poling</td>
                </tr>
                <tr>
                  <th scope="row">Weight:</th>
                  <td>approx. 1350 gr.</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Ask a quotation</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footereng.html') %>
    </div>
  </body>
</html>
