<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Armas Antiguas Osvaldo Gatto - Barnett Pistol</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Skip to Content</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/headereng.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navigation to this page
            </p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="pistolasyfusileseng.html">Pistols and Rifles</a></li>
              <li>
                <a href="barnetteng.html" aria-current="page">German Matchlock Pistol</a>
              </li>
            </ul>
          </nav>
          <h1>German Matchlock Pistol <span class="aaog-code">Code: PM001</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="482"
                data-pswp-height="272"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha1.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha1.jpg"
                    alt="German Matchlock pistol lock view"
                  />
                  <span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="500"
                data-pswp-height="375"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det.jpg"
                    alt="Matchlock detailed view"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="500"
                data-pswp-height="375"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det2.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det2.jpg"
                    alt="Matchlock pistol seen from top"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="500"
                data-pswp-height="375"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det3.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det3.jpg"
                    alt="Butt pistol details"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="500"
                data-pswp-height="375"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det4.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det4.jpg"
                    alt="Details from the matchlock pistol from the other side of lock"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Description</h2>
              <p>
                Until not long ago, the only references to short matchlock weapons
                 were linked to Japan. Further more, there are publications that dared
                  to say that matchlock guns were not built in the West.
              </p>
              <p>
                In fact, it occurred to us that in many photographs and descriptions
                 when the “little arquebuses” are mentioned, more than once, they could be
                  referring to a pistol.
              </p>
              <p>
                But the true image of a matchlock pistol itself came into our hands as
                 these things happen, by chance.
              </p>
              <p>
                It is a pistol built in approximately 1650, which on the barrel and plate
                 bears the inscription SLV, which after the 17th century will become SUHL.
              </p>
              <p>
                Like 90% of current reproductions from other companies, this model does not
                 follow in detail the measurements described in the historical model, but this 
                 is not as noticeable in this model, as it is in some reproductions of other
                 models made by famous companies of the rest of the world.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Features</h2>
              <table class="aaog-product-table">
                <caption>
                  Enfield Pistol (Barnett)
                </caption>
                <tr>
                  <th scope="row">Barrel:</th>
                  <td>
                    two ordered, plain interior, with target points
                  </td>
                </tr>
                <tr>
                  <th scope="row">Caliber:</th>
                  <td>.50</td>
                </tr>
                <tr>
                  <th scope="row">Lock:</th>
                  <td>Matchlock</td>
                </tr>
                <tr>
                  <th scope="row">Stock:</th>
                  <td>walnut</td>
                </tr>
                <tr>
                  <th scope="row">Guards:</th>
                  <td>steel</td>
                </tr>
                <tr>
                  <th scope="row">Weight:</th>
                  <td>1100 gr.</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Ask a quotation</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footereng.html') %>
    </div>
  </body>
</html>
