<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Japanese Matchlock Pistol - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Skip to Content</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/headereng.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navigation to this page
            </p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="pistolasyfusileseng.html">Pistols and Rifles</a></li>
              <li>
                <a href="mechajaponesaeng.html" aria-current="page">Japanese Matchlock Pistol</a>
              </li>
            </ul>
          </nav>
          <h1>Japanese Matchlock Pistol <span class="aaog-code">Code: PM002</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="483"
                data-pswp-height="272"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Kumamoto00.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Kumamoto00.jpg"
                    alt="Japanese Matchlock Pistol seen from the lock"
                  />
                  <span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="1280"
                data-pswp-height="720"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/mlaiccertificado.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/mlaiccertificado.jpg"
                    alt="mlaic stamp for this pistol to compete internationally in the tanzutsu category"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="1700"
                data-pswp-height="1009"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Tanzutsu4.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Tanzutsu4.jpg"
                    alt="Detail of the tanzutsu pistol butt and its lock"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="1280"
                data-pswp-height="720"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/certificadodearma.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/certificadodearma.jpg"
                    alt="Mlaic's certificate for the 2016 world championship in muzzleloading"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="1285"
                data-pswp-height="2000"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Tanzutsu6.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Tanzutsu6.jpg"
                    alt="Close-up of the pistol from the shooter's perspective"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
                <a
                  data-pswp-width="960"
                  data-pswp-height="1280"
                  href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/tanzutsucompitiendo.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/tanzutsucompitiendo.jpg"
                      alt="Pistola japonesa compitiendo en el mundial de avancarga"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="1280"
                  data-pswp-height="720"
                  href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/mlaiccertificado2.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/mlaiccertificado2.jpg"
                      alt="mlaic seal of approval"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="960"
                  data-pswp-height="1280"
                  href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/tanzutsumundial.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/tanzutsumundial.jpg"
                      alt="Japanese matchlock pistol competing in the world muzzleloading pistol championships"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Description</h2>
              <figure>
                <iframe class="aaog-fullwidth" loading="lazy" title="Comparison of Japanese mecha gun at the Kumamoto museum and our replica" src="https://www.youtube.com/embed/30C-wILBN4g?si=fWMQTwaRCm2wHCkh" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>               
              </figure>
              <p>
                This is a beautiful model of a Japanese Fuse Pistol. It came about in response to many people
                 who asked for a model suitable for competition in Tanzutsu category.
              </p>
              <p>
                Of fine lines and classic construction, it has a unique grip that allows the shooter to aim in a relaxed manner. 
                Its caliber is identical to that used by other models accepted in this category. It is smooth bore and 
                the aiming devices are matched to the original.
              </p>
              <p>
                Of fine lines and classic construction, it has a unique grip that allows the shooter to aim in a relaxed manner. 
                Its caliber is identical to that used by other accepted models in this category. It is smooth bore and 
                the aiming devices are matched to the original.
              </p>
              <p>
                Inspired by the shape of a Samurai pistol found in Kumamoto Castle, Japan, 
                handmade with the best walnut, magnificent polished brass and the best steels, 
                to offer the greatest delight when practicing this exciting sport.
              </p>
              <p>
                In the published video, you can see the original pistol with a red background, located 
                in the Kumamoto museum in Japan, and on a white background our replica. Thanks to a computer effect, 
                the two images are transparent to compare the quality of the reproduction.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Features</h2>
              <table class="aaog-product-table">
                <caption>
                  Japanese Matchlock Pistol
                </caption>
                <tr>
                  <th scope="row">Barrel:</th>
                  <td>
                    Plain interior
                  </td>
                </tr>
                <tr>
                  <th scope="row">Caliber:</th>
                  <td>.41</td>
                </tr>
                <tr>
                  <th scope="row">Lock:</th>
                  <td>Matchlock</td>
                </tr>
                <tr>
                  <th scope="row">Stock:</th>
                  <td>walnut</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Ask a quotation</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footereng.html') %>
    </div>
  </body>
</html>
