<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>General Manuel Belgrano's Pistol - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Skip to Content</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/headereng.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navigation to this page
            </p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="pistolasyfusileseng.html">Pistols and Rifles</a></li>
              <li>
                <a href="pistolabelgranoeng.html" aria-current="page">General Manuel Belgrano's Pistol</a>
              </li>
            </ul>
          </nav>
          <h1>General Manuel Belgrano's Pistol <span class="aaog-code">Limited edition gun</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano1.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano1.jpg"
                    alt="The first replica of a firearm, from an Argentinean Pr&oacute;cer, General Manuel Belgrano's Pistol."
                  />
                  <span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano2.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano2.jpg"
                    alt="Side view from the knob, The classic grip of Ripoll's weapons."
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano3.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano3.jpg"
                    alt="Side view of the lock"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano4.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano4.jpg"
                    alt="Counterplate view"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano5.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano5.jpg"
                      alt="The Ball or spherical finial, characteristic of Ripoll arms, covered with embossed and openwork brass."
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>   
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano6.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano6.jpg"
                      alt="The polished and polished wooden box has the General's signature on the lid."
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano7.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano7.jpg"
                      alt="Engravings in silver, just like the original pistol on the barrel."
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano8.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano8.jpg"
                      alt="The pistol is delivered in a box, whose interior, lined with fine corduroy, holds the pistol, some ammunition and some flints."
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li> 
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano36.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano36.jpg"
                      alt="Comparison: above the original pistol seen from the side, below our replica"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>     
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano35.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano35.jpg"
                      alt="Comparison: above, the original pistol as seen from the counterplate, below, our replica."
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano18.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano18.jpg"
                      alt="Comparison: above, the original pistol seen from above, below, our replica"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano12.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano12.jpg"
                      alt="Comparison: above the original pistol as seen from the gun knob, below our replica"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano13.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano13.jpg"
                      alt="Comparison: above the original pistol as seen from the waist hook, below our replica"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano15.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano15.jpg"
                      alt="Comparison: above the original pistol seen from the underside of the barrel, below our replica"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano16.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano16.jpg"
                      alt="Comparison: above, the original pistol seen from the upper part of the barrel, where the engravings can be seen, below, our replica."
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano37.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano37.jpg"
                      alt="Comparison: above the original pistol with the engraving General M J Belgrano on the barrel, where the engravings can be seen, below our engraving plate."
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>                 
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Description</h2>
              <p>
                Handmade, with the same materials, same size, exact decorations and engravings and the same functionality, as the pistol that the Cabildo of Buenos Aires gave to our hero in 1814.
              </p>
              <p>
                It was built entirely by hand, taking care of every aesthetic and FUNCTIONAL detail.
              </p>
              <p>Each component is made in our Workshop of Construction of Antique Guns, in the City of Rosario, Santa Fe, Argentina.
                It has no intervention of third parties, companies, or purchased parts... each screw, each piece and finishing, is made by us, referencing at all times what has been achieved, with the original gun.</p>
              <p>It is a <strong>limited edition</strong> model, where each Tribute Set will consist of the following:
                A fine polished wooden box (of our own manufacture), lined in black corduroy, which on its lid exhibits a bronze plaque with the signature of General Manuel Belgrano.
                Inside, a handful of lead spherical ammunition and some sharp flints, accompany the Pistol with an engraved plaque naming the Procer, origin of the original weapon and year of delivery.
                Finally, a full color booklet (also by our author), telling briefly the history of the Original Pistol, our visit to the museum to document it and passages of the construction of the gun in question.</p>
              <p><strong>NOTE:</strong> This exclusive item is not part of the rest of the Catalog exhibited on this website, which is available for order on a constant basis... This is an article designed to be produced to order as well, but with a LIMITED number of units to be manufactured.</p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Features</h2>
              <table class="aaog-product-table">
                <caption>
                  General Manuel Belgrano's Pistol 
                </caption>
                <tr>
                  <th scope="row">Barrel:</th>
                  <td>
                    smooth steel
                  </td>
                </tr>
                <tr>
                  <th scope="row">Caliber:</th>
                  <td>16 mm</td>
                </tr>
                <tr>
                  <th scope="row">Lock:</th>
                  <td>flintlock</td>
                </tr>
                <tr>
                  <th scope="row">Carriage:</th>
                  <td>polished walnut</td>
                </tr>
                <tr>
                  <th scope="row">Guards:</th>
                  <td>polished brass</td>
                </tr>
                <tr>
                  <th scope="row">Engraving:</th>
                  <td>low-denomination silver fall on the barrel</td>
                </tr>
                <tr>
                  <th scope="row">Weight:</th>
                  <td>approx. 900 gr.</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Ask a quotation</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footereng.html') %>
    </div>
  </body>
</html>
