<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flintlock Kentucky Pistol - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Skip to Content</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/headereng.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navigation to this page
            </p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="pistolasyfusileseng.html">Pistols and Rifles</a></li>
              <li>
                <a href="pistolakentuckyeng.html" aria-current="page">Flintlock Kentucky Pistol</a>
              </li>
            </ul>
          </nav>
          <h1>Flintlock Kentucky Pistol <span class="aaog-code">Code: PC003</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
                <a
                  data-pswp-width="470"
                  data-pswp-height="274"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch1.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch1.jpg"
                      alt="Kentucky spark gun side view of the platen"
                    />
                    <span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                  <a
                    data-pswp-width="450"
                    data-pswp-height="323"
                    role="button"
                    href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch2.jpg"
                  >
                    <figure>
                      <img
                        loading="lazy"
                        src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch2.jpg"
                        alt="Detail view of kentucky spark gun platen"
                      />
                      <span class="aaog-visuallyhidden"
                        >Open Image in Detail</span
                      >
                    </figure>
                  </a>
                </li>
                <li>
                  <a
                    data-pswp-width="450"
                    data-pswp-height="302"
                    role="button"
                    href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch3.jpg"
                  >
                    <figure>
                      <img
                        loading="lazy"
                        src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch3.jpg"
                        alt="Kentucky pistol side view of counterplate"
                      />
                      <span class="aaog-visuallyhidden"
                        >Open Image in Detail</span
                      >
                    </figure>
                  </a>
                </li>
                <li>
                  <a
                    data-pswp-width="448"
                    data-pswp-height="325"
                    role="button"
                    href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch4.jpg"
                  >
                    <figure>
                      <img
                        loading="lazy"
                        src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch4.jpg"
                        alt="Kentucky pistol, platen detail view"
                      />
                      <span class="aaog-visuallyhidden"
                        >Open Image in Detail</span
                      >
                    </figure>
                  </a>
                </li>            
                <li>
                  <a
                    data-pswp-width="483"
                    data-pswp-height="272"
                    role="button"
                    href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch5.jpg"
                  >
                    <figure>
                      <img
                        loading="lazy"
                        src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch5.jpg"
                        alt="Kentucky pistol front sight with barrel and ramrod"
                      />
                      <span class="aaog-visuallyhidden"
                        >Open Image in Detail</span
                      >
                    </figure>
                  </a>
                </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Description</h2>
              <p>
                Replica of the misnamed Kentucky pistol. Considered one of the pioneer pistols of the North American territories, it is an heir of the short guns of German origin.
              </p>
              <p>
                Construida con cureña de nogal y un cañón de acero octogonalizado, esta hermosa pistola se diferencia de las militares por no tener contera o pomo de remate como así también por su escaso peso comparado con las armas de guerra. También a diferencia de ellas posee caño estriado y puntos de mira ajustables en deriva para una mejor precisión.La baqueta es de madera, considerándose bastante endeble para la carga de la misma.
              </p>
              <p>
                As in the case of the illustration it is a flintlock pistol, reduction of the famous Pennsylvania rifle, ignoring why they received the name of Kentucky. Many of these pistols were used in the war for the independence of the United States.
              </p>
              <p>We also have a version of <a href="pistolakentuckypercusioneng.html">this pistol in percussion</a>.</p>             
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Features</h2>
              <table class="aaog-product-table">
                <caption>
                    Flintlock Kentucky Pistol
                </caption>
                <tr>
                  <th scope="row">Barrel:</th>
                  <td>
                    steel, octagonal exterior, smooth or grooved interior
                  </td>
                </tr>
                <tr>
                  <th scope="row">Caliber:</th>
                  <td>45 or 50 (grooved shaft)</td>
                </tr>
                <tr>
                  <th scope="row">Lock:</th>
                  <td>Flintlock</td>
                </tr>
                <tr>
                  <th scope="row">Carriage:</th>
                  <td>polished walnut</td>
                </tr>
                <tr>
                  <th scope="row">Guards:</th>
                  <td>polished brass</td>
                </tr>
                <tr>
                    <th scope="row">Weight:</th>
                    <td>1100 gr</td>
                  </tr>                
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Ask a quotation</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footereng.html') %>
    </div>
  </body>
</html>
