<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harper´s Ferry Pistol - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Skip to Content</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/headereng.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navigation to this page
            </p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="pistolasyfusileseng.html">Pistols and Rifles</a></li>
              <li>
                <a href="pistolaharpersferryeng.html" aria-current="page">Harper´s Ferry Pistol</a>
              </li>
            </ul>
          </nav>
          <h1>Harper´s Ferry Pistol <span class="aaog-code">Code: PC004</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="1043"
                data-pswp-height="584"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/pc004n_imagen.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/pc004n_imagen.jpg"
                    alt="Harper's Ferry pistol side view of the platen"
                  />
                  <span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
                <a
                  data-pswp-width="600"
                  data-pswp-height="399"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/bajoharper.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/bajoharper.jpg"
                      alt="Detail view of gun knob"
                    />
                    <span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                <a
                  data-pswp-width="600"
                  data-pswp-height="399"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/canonharper.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/canonharper.jpg"
                      alt="Harper's Ferry pistol, gun barrel detail"
                    />
                    <span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                <a
                  data-pswp-width="450"
                  data-pswp-height="323"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe.jpg"
                      alt="Harper's Ferry pistol, plate detail view"
                    />
                    <span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure>
                </a>
              </li>            
              <li>
                <a
                  data-pswp-width="483"
                  data-pswp-height="272"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe3.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe3.jpg"
                      alt="Harper's Ferry pistol side view of the platen"
                    />
                    <span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                <a
                  data-pswp-width="450"
                  data-pswp-height="323"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe2.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe2.jpg"
                      alt="Harper's Ferry pistol side view"
                    />
                    <span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure>
                </a>
              </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Description</h2>
              <p>
                Replica of the famous Harper's Ferry military pistol. It is considered the first military weapon manufactured in the American territory and was used to secure the independence declared by the northern country a few decades ago.
              </p>
              <p>
                Built between 1805 and 1807, it is a symbiosis between English and French guns, with the appearance of a new American style. The flintlock is sturdy enough to ignite smoothly with every shot.
              </p>
              <p>
                Its smooth barrel 58 caliber gives a singular power to the shot, being a pistol that stands out for its elaborate ramrod pass. It is made of wood and has a bronze finish to facilitate loading. Accompanying the pommel of the gun are two spurs that are inserted into the wood to serve as reinforcement. It is considered one of the most beautiful military pistols ever built.
              </p>              
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Features</h2>
              <table class="aaog-product-table">
                <caption>
                    Harper´s Ferry Pistol
                </caption>
                <tr>
                  <th scope="row">Barrel:</th>
                  <td>
                     smooth
                  </td>
                </tr>
                <tr>
                  <th scope="row">Caliber:</th>
                  <td>.58</td>
                </tr>
                <tr>
                  <th scope="row">Lock:</th>
                  <td>Flintlock</td>
                </tr>
                <tr>
                  <th scope="row">Carriage:</th>
                  <td>walnut</td>
                </tr>
                <tr>
                  <th scope="row">Guards:</th>
                  <td>polished brass</td>
                </tr>
                <tr>
                    <th scope="row">Weight:</th>
                    <td>1200 gr</td>
                  </tr>                
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Ask a quotation</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footereng.html') %>
    </div>
  </body>
</html>
