<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>German Wheellock Gun 1632 - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Skip to Content</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/headereng.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navigation to this page
            </p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="pistolasyfusileseng.html">Pistols and Rifles</a></li>
              <li>
                <a href="ruedaeng.html" aria-current="page">German Wheellock Gun 1632</a>
              </li>
            </ul>
          </nav>
          <h1>German Wheellock Gun 1632 <span class="aaog-code">Code: PAR001</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg"
                    alt="German Wheel Pistol viewed from profile"
                  />
                  <span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="2021"
                data-pswp-height="891"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/platinaderueda.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/platinaderueda.jpg"
                    alt="Rear view of the wheel plate"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="3191"
                data-pswp-height="1089"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20142.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20142.jpg"
                    alt="Wheel Gun, side view"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
              data-pswp-width="1000"
              data-pswp-height="527"
              href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20143.jpg"
              role="button"
              ><figure>
                <img
                  loading="lazy"
                  src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20143.jpg"
                  alt="Side view of the lock in detail"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="3246"
                data-pswp-height="1222"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20147.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20147.jpg"
                    alt="Top view wheel gun"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20181.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20181.jpg"
                    alt="German wheel gun on storage box"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20182.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20182.jpg"
                    alt="German wheel gun in storage box, with ammunition, wooden ramrod and loading key."
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20183.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20183.jpg"
                    alt="Wheel gun pushed on storage box with mounted loading key"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20185.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20185.jpg"
                    alt="Wheel gun, detail of the mechanism"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="1200"
                data-pswp-height="519"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20186.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20186.jpg"
                    alt="Wheel gun on canvas with mounted loading lever"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Description</h2>
              <p>
                Faithful replica of a German wheel gun
                 from the year 1632 used in the famous 30 years war.
              </p>
              <p>
                It works with iron pyrite to generate the spark as the 
                original and is and is equipped with a key to assemble
                 the mechanism, turning the wheel tightens a flat spring
                  in the form of "V" transmitting the movement by a
                    chain of steel links.
              </p>
              
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Features</h2>
              <table class="aaog-product-table">
                <caption>
                  Enfield Pistol (Barnett)
                </caption>
                <tr>
                  <th scope="row">Barrel:</th>
                  <td>
                    steel, exterior, conical, smooth interior (as its
                    original)
                  </td>
                </tr>
                <tr>
                  <th scope="row">Caliber:</th>
                  <td>.58</td>
                </tr>
                <tr>
                  <th scope="row">Lock:</th>
                  <td>Percussion</td>
                </tr>
                <tr>
                  <th scope="row">Carriage:</th>
                  <td>walnut</td>
                </tr>
                <tr>
                  <th scope="row">Guards:</th>
                  <td>polished brass</td>
                </tr>
                <tr>
                  <th scope="row">Ramrod:</th>
                  <td>poling</td>
                </tr>
                <tr>
                  <th scope="row">Weight:</th>
                  <td>approx. 1350 gr.</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Ask a quotation</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footereng.html') %>
    </div>
  </body>
</html>
