<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pistola Light Dragoon - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="lightdragon.html" aria-current="page">Pistola Light Dragoon</a>
              </li>
            </ul>
          </nav>
          <h1>Pistola Light Dragoon <span class="aaog-code">C&oacute;digo: PC002</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="480"
                data-pswp-height="272"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon01.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon01.jpg"
                    alt="Pistola Light Dragoon"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="323"
                href="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon_02.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon_02.jpg"
                    alt="Llave de chispa, vista en detalle"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="323"
                href="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon_03.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon_03.jpg"
                    alt="Detalle de nuez y pie de gato"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="323"
                href="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon_04.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon_04.jpg"
                    alt="Vista de contraplatina"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>            
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <p>
                R&eacute;plica de la famosa pistola inglesa Ligth dragoon,
                 arma militar de l&iacute;nea utilizada por los oficiales en casi todos
                  los terrenos donde los ingleses estuvieron presentes. En el caso
                   de nuestro pa&iacute;s es la pistola que trajeron en las invasiones
                    inglesas producidas entre los a&ntilde;os 1806 y 1807, siendo el modelo
                     de finales del siglo XVIII el m&aacute;s difundido en ese entonces. 
                     No obstante pueden encontrarse ejemplares del a&ntilde;o 1805 ya veteranas
                      de la &eacute;poca de Trafalgar, donde los ingleses enfrentaron a las
                       fuerzas navales francesas.
              </p>
              <p>
                Con un fort&iacute;simo ca&ntilde;&oacute;n y una llave extraordinariamente segura, la cure&ntilde;a
                 de nogal le da porte macizo a esta pistola que muchas veces puede verse
                  con baqueta de metal aunque en realidad la gran mayor&iacute;a las llevaba
                   de madera con puntera de bronce. Tambi&eacute;n se han visto ejemplares
                    de caballer&iacute;a utilizando una baqueta con aparejo para evitar que
                     &eacute;sta se perdiera en el fragor de la batalla.La platina tiene
                      grabada la corona brit&aacute;nica y la palabra tower, que en la jerga
                       popular termin&oacute; d&aacute;ndole nombre a la pistola. En realidad esto 
                       significa que el arma era propiedad de la corona y que hab&iacute;a
                        pasado por la torre de Londres para su fiscalizaci&oacute;n.

              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                  Pistola Light Dragoon
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    de acero liso
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>.64</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de chispa</td>
                </tr>
                <tr>
                  <th scope="row">Madera:</th>
                  <td>de nogal</td>
                </tr>
                <tr>
                  <th scope="row">Guarniciones:</th>
                  <td>de bronce pulido</td>
                </tr>
                <tr>
                  <th scope="row">Peso:</th>
                  <td>1200 gramos</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
