<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Armas Antiguas Osvaldo Gatto - Pistola Mecha Alemana</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="mechaalemana.html" aria-current="page">Pistola de Mecha Alemana</a>
              </li>
            </ul>
          </nav>
          <h1>Pistola de Mecha Alemana <span class="aaog-code">C&oacute;digo: PM001</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="482"
                data-pswp-height="272"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha1.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha1.jpg"
                    alt="Pistola de Mecha Alemana vista desde la platina"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="500"
                data-pswp-height="375"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det.jpg"
                    alt="Pistola de Mecha Alemana detalle de la platina"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="500"
                data-pswp-height="375"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det2.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det2.jpg"
                    alt="Vista desde la parte superior de la pistola de mecha"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="500"
                data-pswp-height="375"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det3.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det3.jpg"
                    alt="Detalle del pomo"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="500"
                data-pswp-height="375"
                href="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det4.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha_det4.jpg"
                    alt="Detalle de la pistola en contraplatina"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <p>
                Hasta no hace mucho, las &uacute;nicas referencias que se ten&iacute;an de armas cortas
                 de mecha eran vinculadas al Jap&oacute;n. Es m&aacute;s, hay publicaciones que se 
                 animaron a decir que en Occidente no se construyeron pistolas de mecha.
              </p>
              <p>
                De hecho, se nos ocurri&oacute; que en muchas fotograf&iacute;as y descripciones cuando
                 se nombra a los “arcabucillos”, m&aacute;s de una vez, podr&iacute;a estar refiri&eacute;ndose
                  a una pistola.
              </p>
              <p>
                Pero la verdadera imagen de una pistola de mecha propiamente dicha lleg&oacute;
                 a nuestras manos como ocurren estas cosas, de manera fortuita.
              </p>
              <p>
                Se trata de una pistola construida en 1650 aproximadamente, que en el
                 ca&ntilde;&oacute;n y la platina ostenta la inscripci&oacute;n SLV que con posterioridad
                  al S XVII se transformar&aacute; en SUHL.
              </p>
              <p>
                Como el 90% de las reproducciones actuales de otras compa&ntilde;&iacute;as, este modelo
                 no sigue al detalle las medidas descritas en el modelo hist&oacute;rico,
                  pero esto no es tan notorio en este modelo, como si lo son algunas
                   reproducciones de otros modelos realizados por afamadas empresas del
                    resto del mundo.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                  Pistola de Mecha Alemana
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    a dos &oacute;rdenes, liso, con puntos de mira
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>.50</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de mecha</td>
                </tr>
                <tr>
                  <th scope="row">Cure&ntilde;a:</th>
                  <td>de nogal</td>
                </tr>
                <tr>
                  <th scope="row">Guarniciones:</th>
                  <td>de acero</td>
                </tr>
                <tr>
                  <th scope="row">Peso:</th>
                  <td>1150 gramos</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
