<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pistola Mecha Japonesa - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="mechajaponesa.html" aria-current="page">Pistola de Mecha Japonesa</a>
              </li>
            </ul>
          </nav>
          <h1>Pistola de Mecha Japonesa <span class="aaog-code">C&oacute;digo: PM002</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="483"
                data-pswp-height="272"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Kumamoto00.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Kumamoto00.jpg"
                    alt="Pistola de Mecha Japonesa vista desde la platina"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="1280"
                data-pswp-height="720"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/mlaiccertificado.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/mlaiccertificado.jpg"
                    alt="Sello de la mlaic para esta pistola para competir internacionalmente en la categor&iacute;a tanzutsu"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="1700"
                data-pswp-height="1009"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Tanzutsu4.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Tanzutsu4.jpg"
                    alt="Detalle de la culata de la pistola tanzutsu y su platina"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="1280"
                data-pswp-height="720"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/certificadodearma.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/certificadodearma.jpg"
                    alt="Certificado de Mlaic para el campeonato del mundo de avancarga 2016"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="1285"
                data-pswp-height="2000"
                href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Tanzutsu6.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Tanzutsu6.jpg"
                    alt="Detalle de la pistola desde las perspectiva del tirador"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
                <a
                  data-pswp-width="960"
                  data-pswp-height="1280"
                  href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/tanzutsucompitiendo.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/tanzutsucompitiendo.jpg"
                      alt="Pistola japonesa compitiendo en el mundial de avancarga"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="1280"
                  data-pswp-height="720"
                  href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/mlaiccertificado2.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/mlaiccertificado2.jpg"
                      alt="Sello de aprobaci&oacute;n de la mlaic"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="960"
                  data-pswp-height="1280"
                  href="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/tanzutsumundial.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/tanzutsumundial.jpg"
                      alt="Pistola de mecha japonesa compitiendo en el mundial de avancarga"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <figure>
                <iframe class="aaog-fullwidth" loading="lazy" title="Comparativa de pistola de mecha japonesa en el museo Kumamoto y nuestra r&eacute;plica " src="https://www.youtube.com/embed/30C-wILBN4g?si=fWMQTwaRCm2wHCkh" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>               
              </figure>              
              <p>
                Esta es un hermoso modelo de Pistola de Mecha Japonesa. Surgida en respuesta a muchas personas
                 que preguntaron por un modelo apto para competencias en categor&iacute;a Tanzutsu.
              </p>
              <p>
                De finas l&iacute;neas y construccion cl&aacute;sica, posee un grip &uacute;nico que le permite al tirador apuntar relajadamente. 
                Su calibre es id&eacute;ntico al que utilizan otros modelos aceptados en esta categor&iacute;a. Es de anima lisa y 
                los aparatos de punter&iacute;a se ajustan con el original.
              </p>
              <p>
                Inspirados en la forma de una pistola Samurai que se encuentra en el castillo de Kumamoto, en Jap&oacute;n, 
                construimos a mano con el mejor Nogal, magn&iacute;fico Lat&oacute;n  pulido y los mejores aceros, para brindar el mayor 
                deleite a la hora de practicar este apasionante deporte.
              </p>
              <p>
                En el video publicado, se pueden apreciar la pistola original con fondo Rojo, localizada en el 
                museo de Kumamoto en Jap&oacute;n, y en fondo blanco nuestra r&eacute;plica. Gracias a un efecto de computadora se 
                transparentan las dos im&aacute;genes para comparar la calidad de la reproducci&oacute;n.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                  Pistola de Mecha Japonesa
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    Liso
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>.41</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de mecha</td>
                </tr>
                <tr>
                  <th scope="row">Cure&ntilde;a:</th>
                  <td>de nogal</td>
                </tr>                
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
