<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pistola del General Manuel Belgrano - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="rueda.html" aria-current="page">Pistola del General Manuel Belgrano</a>
              </li>
            </ul>
          </nav>
          <h1>Pistola del General Manuel Belgrano <span class="aaog-code">Pistola de edici&oacute;n limitada</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano1.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano1.jpg"
                    alt="La primer r&eacute;plica de un arma de fuego, de un Pr&oacute;cer argentino, la Pistola del General Manuel Belgrano"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano2.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano2.jpg"
                    alt="Vista lateral desde el pomo, El cl&aacute;sico grip de las armas de Ripoll"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano3.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano3.jpg"
                    alt="Vista lateral de la llave"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano4.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano4.jpg"
                    alt="Vista de contraplatina"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano5.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano5.jpg"
                      alt="La Bola o remate esf&eacute;rico, caracter&iacute;stico en las armas de Ripoll, cubierto con Lat&oacute;n repujado y calado"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>   
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano6.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano6.jpg"
                      alt="La Caja de madera lustrada y pulida, tiene la firma del General en su tapa"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano7.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano7.jpg"
                      alt="Grabados en Plata, al igual que la pistola Original en el ca&ntilde;&oacute;n"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano8.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano8.jpg"
                      alt="La pistola es entregada en caja, cuyo interior forrado en fina Pana, guarda la Pistola, unas municiones y algunos Pedernales"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li> 
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano36.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano36.jpg"
                      alt="Comparativa: arriba la pistola original vista de lado,abajo nuestra r&eacute;plica"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>     
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano35.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano35.jpg"
                      alt="Comparativa: arriba la pistola original vista de contraplatina,abajo nuestra r&eacute;plica"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano18.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano18.jpg"
                      alt="Comparativa: arriba la pistola original vista desde arriba,abajo nuestra r&eacute;plica"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano12.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano12.jpg"
                      alt="Comparativa: arriba la pistola original vista del pomo del arma, abajo nuestra r&eacute;plica"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano13.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano13.jpg"
                      alt="Comparativa: arriba la pistola original vista del gancho para colgar en la cintura, abajo nuestra r&eacute;plica"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano15.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano15.jpg"
                      alt="Comparativa: arriba la pistola original vista de la parte de abajo del ca&ntilde;&oacute;n, abajo nuestra r&eacute;plica"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano16.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano16.jpg"
                      alt="Comparativa: arriba la pistola original vista de la parte de superior del ca&ntilde;&oacute;n, donde se aprecian sus grabados, abajo nuestra r&eacute;plica"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>
              <li>
                <a
                  data-pswp-width="800"
                  data-pswp-height="600"
                  href="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano37.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistoladebelgrano/belgrano37.jpg"
                      alt="Comparativa: arriba la pistola original con el grabado General M J Belgrano en el ca&ntilde;&oacute;n, donde se aprecian sus grabados, abajo nuestra r&eacute;plica"
                    /><span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure></a
                >
              </li>                 
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <p>
                Construida a mano, con los mismos materiales, mismo tama&ntilde;o, decorados y grabados exactos y la misma funcionalidad, que la pistola que le obsequi&oacute; el Cabildo de Buenos Aires a nuestro Pr&oacute;cer en 1814.
              </p>
              <p>
                Se construy&oacute; &iacute;ntegramente a mano, cuidando cada detalle est&eacute;tico y FUNCIONAL.
              </p>
              <p>Cada componente es realizado en nuestro Taller de Construcci&oacute;n de R&eacute;plicas de Armas Antiguas, en la Ciudad de Rosario, Santa Fe, Argentina.
                No posee intervenci&oacute;n de terceras personas, empresas, ni partes compradas... cada tornillo, cada pieza y terminaci&oacute;n, es realizada por nosotros, referenciando en todo momento lo alcanzado, con la pistola Original.
              </p>
              <p>
                Es un modelo de <strong>edici&oacute;n limitada</strong>, donde cada Conjunto Homenaje constar&aacute; de lo siguiente:
                Una fina Caja de Madera lustrada (de nuestra confecci&oacute;n), forrada en Pana negra, la cual en su tapa exhibe un &oacute;valo de bronce con la firma del General Manuel Belgrano.
                En su interior, un pu&ntilde;ado de municiones esf&eacute;ricas de plomo y unos pedernales afilados, acompa&ntilde;an a la Pistola con una placa grabada nombrando al Pr&oacute;cer, procedencia del arma original y a&ntilde;o de entrega.
                Por ultimo, un librillo a todo color (tambi&eacute;n de nuestra autor&iacute;a), contando brevemente la historia de la Pistola Original, nuestra visita al museo para documentarla y pasajes de la construcci&oacute;n de la r&eacute;plica en cuesti&oacute;n.
              </p>
              <p>
                <strong>NOTA:</strong> Este art&iacute;culo exclusivo no forma parte del resto del Cat&aacute;logo exhibido en esta web,el cual se encuentra disponible para su encargo de manera constante... Este, es un art&iacute;culo pensado para ser producido por encargo tambi&eacute;n, pero con un n&uacute;mero LIMITADO de unidades a ser fabricadas.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                  Pistola del General Manuel Belgrano
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    de acero liso
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>16 mm</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de chispa</td>
                </tr>
                <tr>
                  <th scope="row">Madera:</th>
                  <td>de nogal lustrado</td>
                </tr>
                <tr>
                  <th scope="row">Guarniciones:</th>
                  <td>de bronce pulido</td>
                </tr>
                <tr>
                  <th scope="row">Grabado:</th>
                  <td>en el ca&ntilde;o en plata de baja denominaci&oacute;n</td>
                </tr>
                <tr>
                  <th scope="row">Peso:</th>
                  <td>1200 gramos</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
