<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pistola Kentucky Chispa - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="pistolakentuckypercusion.html" aria-current="page">Pistola Kentucky Chispa</a>
              </li>
            </ul>
          </nav>
          <h1>Pistola Kentucky Chispa <span class="aaog-code">C&oacute;digo: PC003</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="470"
                data-pswp-height="274"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch1.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch1.jpg"
                    alt="Pistola Kentucky a chispal vista lateral de la platina"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
                <a
                  data-pswp-width="450"
                  data-pswp-height="323"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch2.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch2.jpg"
                      alt="Vista en detalle de platina pistola kentucky chispa"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                <a
                  data-pswp-width="450"
                  data-pswp-height="302"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch3.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch3.jpg"
                      alt="Pistola Kentucky vista lateral de contraplatina"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                <a
                  data-pswp-width="448"
                  data-pswp-height="325"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch4.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch4.jpg"
                      alt="Pistola Kentucky vista detalle de la platina"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>            
              <li>
                <a
                  data-pswp-width="483"
                  data-pswp-height="272"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch5.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch5.jpg"
                      alt="Pistola Kentucky vista frontal de ca&ntilde;&oacute;n y baqueta"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <p>
                R&eacute;plica de la pistola mal llamada de Kentucky. Considerada una de las pistolas pioneras de los territorios norteamericanos es heredera de las armas cortas de origen alem&aacute;n.
              </p>
              <p>
                Construida con cureña de nogal y un cañ&oacute;n de acero octogonalizado, esta hermosa pistola se diferencia de las militares por no tener contera o pomo de remate como as&iacute; tambi&eacute;n por su escaso peso comparado con las armas de guerra. Tambi&eacute;n a diferencia de ellas posee caño estriado y puntos de mira ajustables en deriva para una mejor precisi&oacute;n.La baqueta es de madera, consider&aacute;ndose bastante endeble para la carga de la misma.
              </p>
              <p>
                Como en el caso de la ilustraci&oacute;n se trata de una pistola de pedernal, reducci&oacute;n del famoso rifle de Pennsylvania, ignor&aacute;ndose por qu&eacute; recibieron el nombre de Kentucky. Muchas de estas pistolas fueron utilizadas en la guerra por la independencia de los Estados Unidos.
              </p>
              <p>Tenemos tambi&eacute;n la versi&oacute;n de <a href="pistolakentuckypercusion.html">esta pistola en percusi&oacute;n</a></p>              
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                    Pistola Kentucky Chispa
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    de acero, exterior octogonal, interior liso o estriado 
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>45 o 50 (ca&ntilde;&oacute;n estriado)</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de chispa</td>
                </tr>
                <tr>
                  <th scope="row">Culata:</th>
                  <td>de Nogal pulido</td>
                </tr>
                <tr>
                  <th scope="row">Guarniciones:</th>
                  <td>de bronce pulido</td>
                </tr>
                <tr>
                    <th scope="row">Peso:</th>
                    <td>1100 gr</td>
                  </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
