<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pistola Harper's Ferry - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="pistolaharpersferry.html" aria-current="page">Pistola Harper´s Ferry</a>
              </li>
            </ul>
          </nav>
          <h1>Pistola Harper´s Ferry <span class="aaog-code">C&oacute;digo: PC004</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="1043"
                data-pswp-height="584"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/pc004n_imagen.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/pc004n_imagen.jpg"
                    alt="Pistola Harper´s Ferry vista lateral de la platina"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
                <a
                  data-pswp-width="600"
                  data-pswp-height="399"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/bajoharper.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/bajoharper.jpg"
                      alt="Vista en detalle de pomo del arma"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                <a
                  data-pswp-width="600"
                  data-pswp-height="399"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/canonharper.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/canonharper.jpg"
                      alt="Pistola Harper´s Ferry detalle del ca&ntilde;&oacute;n"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                <a
                  data-pswp-width="450"
                  data-pswp-height="323"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe.jpg"
                      alt="Pistola Harper´s Ferry vista detalle de la platina"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>            
              <li>
                <a
                  data-pswp-width="483"
                  data-pswp-height="272"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe3.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe3.jpg"
                      alt="Pistola Harper´s Ferry vista lateral de la platina"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>
              <li>
                <a
                  data-pswp-width="450"
                  data-pswp-height="323"
                  role="button"
                  href="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe2.jpg"
                >
                  <figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/detalle_harpe2.jpg"
                      alt="Pistola Harper´s Ferry vista lateral"
                    />
                    <span class="aaog-visuallyhidden"
                      >Abrir la imagen en m&aacute;s en detalle</span
                    >
                  </figure>
                </a>
              </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <p>
                R&eacute;plica de la famosa pistola militar de Harper's Ferry. Se considera la primer arma militar fabricada en el territorio americano y que fue utilizada para afianzar la independencia declarada por el pa&iacute;s del norte algunas d&eacute;cadas atr&aacute;s.
              </p>
              <p>
                Construida entre 1805 y 1807 posee una simbiosis entre las armas de origen ingl&eacute;s y las armas francesas apareciendo una nueva modalidad propiamente americana.La llave de chispa es lo suficientemente robusta como para encender sin problemas en cada disparo.
              </p>
              <p>
                Su cañ&oacute;n liso calibre 58 le da una singular potencia al disparo, siendo una pistola que se destaca por su elaborado pasa baqueta. La misma es de madera y lleva un remate de bronce para facilitar la carga. Acompañan el pomo del arma, dos espolones que se meten en la madera sirviendo de refuerzo. Se considera una de las m&aacute;s bellas pistolas militares jam&aacute;s construidas.
              </p>              
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                    Pistola Harper´s Ferry
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    Liso 
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>.58</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de chispa</td>
                </tr>
                <tr>
                  <th scope="row">Cu&ntilde;:</th>
                  <td>de Nogal</td>
                </tr>
                <tr>
                  <th scope="row">Guarniciones:</th>
                  <td>de bronce pulido</td>
                </tr>
                <tr>
                    <th scope="row">Peso:</th>
                    <td>1200 gr</td>
                  </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
