<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pistola Alemana de Rueda 1632 - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="rueda.html" aria-current="page">Pistola Alemana de Rueda 1632</a>
              </li>
            </ul>
          </nav>
          <h1>Pistola Alemana de Rueda 1632 <span class="aaog-code">Código: PAR001</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg"
                    alt="Pistola de Rueda Alemana vista desde perfil"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="2021"
                data-pswp-height="891"
                href="src/imagenes/productos/pistolasyfusiles/pistoladerueda/platinaderueda.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistoladerueda/platinaderueda.jpg"
                    alt="Vista posterior de la platina de rueda"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="364"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett03.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett03.jpg"
                    alt="Detalle del ca&ntilde;on"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett04.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett04.jpg"
                    alt="Vista lateral de la pistola sobre un lienzo"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett05.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett05.jpg"
                    alt="Detalle de la baqueta basculante"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett06.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett06.jpg"
                    alt="Comparación pistola Enfield original y nuestra r&eacute;plica"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="4640"
                data-pswp-height="2786"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_141859.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_141859.jpg"
                    alt="Pistola Enfield sobre lienzo con inscripci&oacute;n en la platina"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="4640"
                data-pswp-height="2786"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_141952.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_141952.jpg"
                    alt="Pistola Enfield vista desde la contraplatina"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="4640"
                data-pswp-height="2786"
                href="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_142248.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/IMG_20201224_142248.jpg"
                    alt="Pistola Enfield empu&ntilde;ada"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <p>
                Replica fiel de una pistola de rueda Alemana del año 1632
                 utilizada en la famosa guerra de los 30 años.
              </p>
              <p>
                Funciona con pirita de hierro para generar la chispa como
                 la original y está dotada de su llave para montar el mecanismo, 
                 girando la rueda se tensa un muelle plano en forma de "V" transmitiendose
                  el movimiento por medio de una cadeneta de eslabones de acero.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                  Pistola Alemana de Rueda 1632
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    liso
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>.58</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de rueda, funciona con pirita y p&oacute;lvora negra</td>
                </tr>
                <tr>
                  <th scope="row">Madera:</th>
                  <td>de nogal</td>
                </tr>
                <tr>
                  <th scope="row">Guarniciones:</th>
                  <td>acero</td>
                </tr>
                <tr>
                  <th scope="row">Peso:</th>
                  <td>1300 gramos</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
