<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pistola Alemana de Rueda 1632 - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navegaci&oacute;n hasta esta p&aacute;gina
            </p>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="pistolasyfusiles.html">Pistolas y Fusiles</a></li>
              <li>
                <a href="rueda.html" aria-current="page">Pistola Alemana de Rueda 1632</a>
              </li>
            </ul>
          </nav>
          <h1>Pistola Alemana de Rueda 1632 <span class="aaog-code">Código: PAR001</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg"
                    alt="Pistola de Rueda Alemana vista desde perfil"
                  />
                  <span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="2021"
                data-pswp-height="891"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/platinaderueda.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/platinaderueda.jpg"
                    alt="Vista posterior de la platina de rueda"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="3191"
                data-pswp-height="1089"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20142.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20142.jpg"
                    alt="Pistola de Rueda vista de costado"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="1000"
                data-pswp-height="527"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20143.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20143.jpg"
                    alt="Vista lateral de la platina en detalle"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="3246"
                data-pswp-height="1222"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20147.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20147.jpg"
                    alt="Vista cenital pistola de rueda"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20181.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20181.jpg"
                    alt="Pistola de rueda alemana sobre caja de guardado"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20182.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20182.jpg"
                    alt="Pistola de rueda alemana dentro de caja de guardado, con municiones, baqueta de madera y llave de carga"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20183.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20183.jpg"
                    alt="Pistola de rueda empu&tilde;ada sobre caja de guardado con llave de carga montada"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="800"
                data-pswp-height="600"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20185.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20185.jpg"
                    alt="Pistola de rueda, detalle del mecanismo"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="1200"
                data-pswp-height="519"
                href="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20186.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/pistolarueda/rueda20186.jpg"
                    alt="Pistola de rueda sobre lienzo con la palanca de carga montada"
                  /><span class="aaog-visuallyhidden"
                    >Abrir la imagen en m&aacute;s en detalle</span
                  >
                </figure></a
              >
            </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Descripci&oacute;n</h2>
              <p>
                R&eacute;plica fiel de una pistola de rueda Alemana del a&ntilde;o 1632
                 utilizada en la famosa guerra de los 30 a&ntilde;os.
              </p>
              <p>
                Funciona con pirita de hierro para generar la chispa como
                 la original y est&aacute; dotada de su llave para montar el mecanismo, 
                 girando la rueda se tensa un muelle plano en forma de "V" transmiti&eacute;ndose
                  el movimiento por medio de una cadeneta de eslabones de acero.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Caracter&iacute;sticas</h2>
              <table class="aaog-product-table">
                <caption>
                  Pistola Alemana de Rueda 1632
                </caption>
                <tr>
                  <th scope="row">Ca&ntilde;on:</th>
                  <td>
                    liso
                  </td>
                </tr>
                <tr>
                  <th scope="row">Calibre:</th>
                  <td>.58</td>
                </tr>
                <tr>
                  <th scope="row">Llave:</th>
                  <td>de rueda, funciona con pirita y p&oacute;lvora negra</td>
                </tr>
                <tr>
                  <th scope="row">Madera:</th>
                  <td>de nogal</td>
                </tr>
                <tr>
                  <th scope="row">Guarniciones:</th>
                  <td>acero</td>
                </tr>
                <tr>
                  <th scope="row">Peso:</th>
                  <td>1300 gramos</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Consultar</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
