<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armas Antiguas Osvaldo Gatto - Artiller&iacute;a</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/fontfiles.html') %>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/favicon.html') %>
</head>
<body>
    <a href="#main" class="aaog-skip-link">Go to main content</a>
    <div class="aaog-gral-wrapper">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/headereng.html') %>    
        <main id="main">
            <article>
                <h1>Products - Artillery</h1>
                <div id="filters" class="aaog-filter-trigger">                
                    <fieldset>
                        <legend>We produce 3 types of functional  artillery r&eacute;plicas:</legend>
                        <div id="options"></div>
                    </fieldset>
                    <div class="aaog-input-wrapper aaog-text-center">
                        <button class="aaog-btn" type="button" id="resetTrigger">Clean Filter</button>
                    </div>              
                </div>            
                <div class="aaog-products-container">
                    <section class="aaog-product-wrapper" data-feature="field">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnapoleonico/cn091.jpg" alt="Little Napoleonic Cannon
                            Replica">
                        </figure>
                        <h2>Little Napoleonic Cannon</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Field</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> CN009</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Little Napoleonic Cannon</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="field">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnapoleonico21mm/cn011_imagen.jpg" alt="Field Cannon .83 Replica">
                        </figure>
                        <h2>Field Cannon .83"</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Field</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> CN011</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Field Cannon .83"</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="field">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canon63/cn008_imagen.jpg" alt="Napoleonic Field Cannon .63 Replica">
                        </figure>
                        <h2>Napoleonic Field Cannon .63"</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Field</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> CN014</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Napoleonic Field Cannon .63"
                        </span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnavalcal54/car_540.jpg" alt="Little Carronade .54 replica">
                        </figure>
                        <h2>Little Carronade .54"</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Navy</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> CAD54</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Little Carronade .54"</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnavalespanol1810/cn005_imagen.jpg" alt="Spanish 1810 Cannon Replica">
                        </figure>
                        <h2>Spanish 1810 Cannon</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Navy</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> CN005</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Spanish 1810 Cannon</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnavaldeavisovictory/cn006_imagen.jpg" alt="Navy Advice Victory Brass Cannon Replica">
                        </figure>
                        <h2>Navy Advice Victory Brass Cannon</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Navy</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> CN006</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Navy Advice Victory Brass Cannon</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonvictoryacero/steel1.jpg" alt="Navy Advise Victory Steel Cannon Replica">
                        </figure>
                        <h2>Navy Advise Victory Steel Cannon</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Navy</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> CN008</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Navy Advise Victory Steel Cannon</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/culebrina/cu001_imagen.jpg" alt="Royal Fortune Swivel gun replica">
                        </figure>
                        <h2>Royal Fortune Swivel gun</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Navy</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> CU001</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Culebrina Royal Fortune</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="mortar">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/morterodecampana/mo001_imagen.jpg" alt="Little Golf Balls Mortaro">
                        </figure>
                        <h2>Little Golf Balls Mortar</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Mortar</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> MO001</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Little Golf Balls Mortar</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="mortar">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/morteroingleslondon/mo002_imagen.jpg" alt="Full Scale British Mortar">
                        </figure>
                        <h2>Full Scale British Mortar</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Mortar</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> MO002</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Full Scale British Mortar</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="mortar">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/morterointermedioespanol/mo003_imagen.jpg" alt="Mid Scale Spanish Mortar">
                        </figure>
                        <h2>Mid Scale Spanish Mortar</h2>
                        <p class="aaog-product-feature">
                            Artillery Type:
                            <span class="aaog-ignition-type">Mortar</span>  
                        </p>  
                        <p class="aaog-product-feature">Code:<strong> MO003</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Mid Scale Spanish Mortar</span></a></p>
                    </section>
                </div>
            </article>
        </main>
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/footereng.html') %>
    </div>
</body>
</html>