<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armas Antiguas Osvaldo Gatto - Pistolas</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/fontfiles.html') %>
</head>
<body>
    <a href="#main" class="aaog-skip-link">Go to main content</a>
    <div class="aaog-gral-wrapper">
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/headereng.html') %>
    <main id="main">
        <article>
            <h1>Products - Pistols and Rifles</h1>
            <div id="filters" class="aaog-filter-trigger">                
                <fieldset>
                    <legend>We manufacture four types of ignition systems:</legend>
                    <div id="options"></div>
                </fieldset>
                <div class="aaog-input-wrapper aaog-text-center">
                    <button class="aaog-btn" type="button" id="resetTrigger">Clean Filter</button>
                </div>              
            </div>            
            <div class="aaog-products-container">
                <section class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha1.jpg" alt="Matchlock Pistol">
                    </figure>
                    <h2>Matchlock Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Matchlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PM001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Matchlock Pistol</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Kumamoto00.jpg" alt="Japanese Matchlock Pistol Tanzutsu">
                    </figure>
                    <h2>Japanese Matchlock Pistol Tanzutsu</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Matchlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PM002</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Japanese Matchlock Pistol Tanzutsu</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha1.jpg" alt="Matchlock Musket">
                    </figure>
                    <h2>Matchlock Musket</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Matchlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> AL003</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Matchlock Musket</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="wheellock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg" alt="German Wheel lock Pistol">
                    </figure>
                    <h2>German Wheellock Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Wheellock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PAR001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">German Wheellock Pistol</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/fotoreplicadepistoladebelgrano.jpg" alt="Replica General Manuel Belgrano´s Pistol">
                    </figure>
                    <h2>General Manuel Belgrano´s Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature"><strong>Limited Edition per Year</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Replica General Manuel Belgrano´s Pistol/span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon01.jpg" alt="Light Dragoon Pistol">
                    </figure>
                    <h2>Light Dragoon Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC002</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Light Dragoon Pistol</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch1.jpg" alt="Kentucky Pistol">
                    </figure>
                    <h2>Kentucky Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC003</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Kentucky Pistol</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/pc004n_imagen.jpg" alt="Harper's Ferry Pistol">
                    </figure>
                    <h2>Harper's Ferry Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC004</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Harper's Ferry Pistol</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagemoutier/lepagechispa00.jpg" alt="Le Page Moutier Flintlock Pistol">
                    </figure>
                    <h2>Le Page Moutier Flintlock Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC006</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Le Page Moutier Flintlock Pistol</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaperkins/perkins011.jpg" alt="English Dueling Pistol Perkins">
                    </figure>
                    <h2>English Dueling Pistol Perkins</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC007</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">English Dueling Pistol Perkins</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolatrabucobritanica/trabucopistola00.jpg" alt="English Blunderbuss Pistol">
                    </figure>
                    <h2>English Blunderbuss Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC008</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">English Blunderbuss Pistol</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaseaservice/seaservice00.jpg" alt="Sea Service Pistol">
                    </figure>
                    <h2>Sea Service Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> SEA001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Sea Service Pistol</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/trabuconaranjero/trab_ch1.jpg" alt="Blunderbuss">
                    </figure>
                    <h2>Blunderbuss</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> TRAB_CH</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out<span class="aaog-visuallyhidden">Blunderbuss</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflebbess/bbess1.jpg" alt="R&eacute;plica de Brown Bess">
                    </figure>
                    <h2>Mosquete Brown Bess</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> AL002</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Mosquete Brown Bess</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/fusilcharleville/charleville00.jpg" alt="R&eacute;plica de Fusil Franc&eacute;s Charleville">
                    </figure>
                    <h2>Fusil Franc&eacute;s Charleville</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> AL004</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Fusil Franc&eacute;s Charleville</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaperkinspercusion/perkinspercusion00.jpg" alt="R&eacute;plica de Pistola de Percusiòn Perkins">
                    </figure>
                    <h2>Pistola de Percussion Perkins</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PE021</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Pistola de Percusiòn Perkins</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagepercusion/lepage00.jpg" alt="R&eacute;plica de Pistola Le Page Moutier">
                    </figure>
                    <h2>Pistola Le Page Moutier</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PLE011</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Pistola Le Page Moutier</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolakentuckypercusion/pp001_imagen.jpg" alt="R&eacute;plica de Pistola Kentucky Percussion">
                    </figure>
                    <h2>Pistola Kentucky Percussion</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Pistola Kentucky Percussion</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett00.jpg" alt="R&eacute;plica de Pistola Enfield (Barnett)">
                    </figure>
                    <h2>Pistola Enfield (Barnett)</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP002</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Pistola Kentucky Percussion</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaaston/aston1.jpg" alt="R&eacute;plica de Pistola Aston">
                    </figure>
                    <h2>Pistola Aston</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP003</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Pistola Aston</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaaustriaca/pp005_imagen.jpg" alt="R&eacute;plica de Pistola Austr&iacute;aca">
                    </figure>
                    <h2>Pistola Austr&iacute;aca</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP005</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Pistola Austr&iacute;aca</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolatrabucopercusion/trabperc00.jpg" alt="R&eacute;plica de Trabuco Naranjero Percussion">
                    </figure>
                    <h2>Trabuco Naranjero Percussion</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP014</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Trabuco Naranjero Percussion</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalorenz/pp016.jpg" alt="R&eacute;plica de Pistola Austr&iacute;aca Lorenz">
                    </figure>
                    <h2>Pistola Austr&iacute;aca Lorenz</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP016</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Pistola Austr&iacute;aca Lorenz</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagemoutieroctogonal/12estrias81.jpg" alt="R&eacute;plica de Pistola Le Page Moutier a Paris (octogonal)">
                    </figure>
                    <h2>Pistola Le Page Moutier a Paris (octogonal)</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP020</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Pistola Le Page Moutier a Paris (octogonal)</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflekentucky/frontier1.jpg" alt="R&eacute;plica de Kentucky Rifle">
                    </figure>
                    <h2>Kentucky Rifle</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> AL001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Kentucky Rifle</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflebigbore/img_20190411_110107.jpg" alt="R&eacute;plica de Rifle Big Bore">
                    </figure>
                    <h2>Rifle Big Bore</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> BBR01</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Rifle Big Bore</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/escopetaunderhammer/escopetagatto00.jpg" alt="R&eacute;plica de Escopeta Underhammer Golden Shotgun">
                    </figure>
                    <h2>Escopeta Underhammer Golden Shotgun</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> ESC001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Escopeta Underhammer Golden Shotgun</span></a></p>
                </section>
                <section class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/rifleunderhammergoldenboy/runderhammer00.jpg" alt="R&eacute;plica de Rifle Underhammer Golden Boy">
                    </figure>
                    <h2>Rifle Underhammer Golden Boy</h2>
                    <p class="aaog-product-feature">
                        Ignition Type:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> UH001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Rifle Underhammer Golden Boy</span></a></p>
                </section>                
            </div>            
        </article>
    </main>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/footereng.html') %>
    </div>    
</body>
</html>