<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pistols and Rifles - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/fontfiles.html') %>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/favicon.html') %>
</head>
<body>
    <a href="#main" class="aaog-skip-link">Go to main content</a>
    <div class="aaog-gral-wrapper">
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/headereng.html') %>
    <main id="main">
        <article>
            <h1>Products - Pistols and Rifles</h1>
            <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/filtro.html') %>
            <p id="productQuatity" aria-live="polite"></p>            
            <ul class="aaog-products-container">
                <li class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha1.jpg" alt="Matchlock Pistol">
                    </figure>
                    <h2>Matchlock Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Matchlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PM001</strong></p>                 
                    <p class="aaog-text-center"><a href="mechaalemanaeng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Matchlock Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Kumamoto00.jpg" alt="Japanese Matchlock Pistol Tanzutsu">
                    </figure>
                    <h2>Japanese Matchlock Pistol Tanzutsu</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Matchlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PM002</strong></p>                 
                    <p class="aaog-text-center"><a href="mechajaponesaeng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Japanese Matchlock Pistol Tanzutsu</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha1.jpg" alt="Matchlock Musket">
                    </figure>
                    <h2>Matchlock Musket</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Matchlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> AL003</strong></p>                 
                    <p class="aaog-text-center"><a href="mosquetemechaeng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Matchlock Musket</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="wheellock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg" alt="German Wheel lock Pistol">
                    </figure>
                    <h2>German Wheellock Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Wheellock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PAR001</strong></p>                 
                    <p class="aaog-text-center"><a href="ruedaeng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">German Wheellock Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/fotoreplicadepistoladebelgrano.jpg" alt="Replica General Manuel Belgrano´s Pistol">
                    </figure>
                    <h2>General Manuel Belgrano´s Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature"><strong>Limited Edition per Year</strong></p>                 
                    <p class="aaog-text-center"><a href="pistolabelgranoeng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Replica General Manuel Belgrano´s Pistol/span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon01.jpg" alt="Light Dragoon Pistol">
                    </figure>
                    <h2>Light Dragoon Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC002</strong></p>                 
                    <p class="aaog-text-center"><a href="lightdragoneng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Light Dragoon Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch1.jpg" alt="Kentucky Pistol">
                    </figure>
                    <h2>Kentucky Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC003</strong></p>                 
                    <p class="aaog-text-center"><a href="pistolakentuckyeng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Kentucky Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/pc004n_imagen.jpg" alt="Harper's Ferry Pistol">
                    </figure>
                    <h2>Harper's Ferry Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC004</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Harper's Ferry Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagemoutier/lepagechispa00.jpg" alt="Le Page Moutier Flintlock Pistol">
                    </figure>
                    <h2>Le Page Moutier Flintlock Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC006</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Le Page Moutier Flintlock Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaperkins/perkins011.jpg" alt="English Dueling Pistol Perkins">
                    </figure>
                    <h2>English Dueling Pistol Perkins</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC007</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">English Dueling Pistol Perkins</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolatrabucobritanica/trabucopistola00.jpg" alt="English Blunderbuss Pistol">
                    </figure>
                    <h2>English Blunderbuss Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PC008</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">English Blunderbuss Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaseaservice/seaservice00.jpg" alt="Sea Service Pistol">
                    </figure>
                    <h2>Sea Service Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> SEA001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Sea Service Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/trabuconaranjero/trab_ch1.jpg" alt="Blunderbuss">
                    </figure>
                    <h2>Blunderbuss</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> TRAB_CH</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out<span class="aaog-visuallyhidden">Blunderbuss</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflebbess/bbess1.jpg" alt="Brown Bess">
                    </figure>
                    <h2>Brown Bess</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> AL002</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Brown Bess</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/fusilcharleville/charleville00.jpg" alt="Charleville French Musket">
                    </figure>
                    <h2>Charleville French Musket</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Flintlock</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> AL004</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Charleville French Musket</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaperkinspercusion/perkinspercusion00.jpg" alt="Perkins Dueling Pistol">
                    </figure>
                    <h2>Perkins Dueling Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PE021</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Perkins Dueling Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagepercusion/lepage00.jpg" alt="Le Page Moutier Pistol">
                    </figure>
                    <h2>Le Page Moutier Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PLE011</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Le Page Moutier Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolakentuckypercusion/pp001_imagen.jpg" alt="Kentucky Pistol Percussion">
                    </figure>
                    <h2>Kentucky Pistol Percussion</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP001</strong></p>                 
                    <p class="aaog-text-center"><a href="pistolakentuckypercusioneng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Kentucky Pistol Percussion</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett01.jpg" alt="Enfield Pistol (Barnett)">
                    </figure>
                    <h2>Enfield Pistol (Barnett)</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP002</strong></p>                 
                    <p class="aaog-text-center"><a href="barnetteng.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Enfield Pistol (Barnett)</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaaston/aston1.jpg" alt="Aston Pistol">
                    </figure>
                    <h2>Aston Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP003</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Aston Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaaustriaca/pp005_imagen.jpg" alt="Austrian Pistol">
                    </figure>
                    <h2>Austrian Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP005</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Austrian Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolatrabucopercusion/trabperc00.jpg" alt="Blunderbuss Percussion">
                    </figure>
                    <h2>Blunderbuss Percussion</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP014</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Blunderbuss Percussion</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalorenz/pp016.jpg" alt="Austrian Lorenz Pistol">
                    </figure>
                    <h2>Austrian Lorenz Pistol</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP016</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Austrian Lorenz Pistol</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagemoutieroctogonal/12estrias81.jpg" alt="Le Page Moutier a Paris Pistol (Octagonal)">
                    </figure>
                    <h2>Le Page Moutier a Paris Pistol (Octagonal)</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> PP020</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Le Page Moutier a Paris Pistol (Octagonal)</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflekentucky/frontier1.jpg" alt="Kentucky Rifle">
                    </figure>
                    <h2>Kentucky Rifle</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> AL001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Kentucky Rifle</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflebigbore/img_20190411_110107.jpg" alt="Big Bore Rifle">
                    </figure>
                    <h2>Big Bore Rifle</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> BBR01</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Big Bore Rifle</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/escopetaunderhammer/escopetagatto00.jpg" alt="Underhammer Golden Shotgun">
                    </figure>
                    <h2>Underhammer Golden Shotgun</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> ESC001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Underhammer Golden Shotgun</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/rifleunderhammergoldenboy/runderhammer00.jpg" alt="Underhammer Golden Boy Rifle">
                    </figure>
                    <h2>Underhammer Golden Boy Rifle</h2>
                    <p class="aaog-product-feature">
                        Ignition System:
                        <span class="aaog-ignition-type">Percussion</span>  
                    </p>  
                    <p class="aaog-product-feature">Code:<strong> UH001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Check this out <span class="aaog-visuallyhidden">Underhammer Golden Boy Rifle</span></a></p>
                </li>                
            </ul>            
        </article>
    </main>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/footereng.html') %>
    </div>    
</body>
</html>