form {
    --white-color: #FFF;
    --black-color: #232020;
    --light-bg: #F5E0B7;
    --dark-bg: #4F5A69;
    --interactive-color: #094376;
    --border-radius: 0.25rem;
    --border-width: 0.125rem;
}
label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: inline-block;
}
input, textarea {
    border:  var(--border-width) solid var(--black-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 100%
}
input:focus-visible, textarea:focus-visible {
    outline: 0;
    border-color: var(--interactive-color);
    background-color: var(--light-bg);
}
.aaog-input-wrapper {
    margin-bottom: 1rem;
}
.aaog-input-wrapper button {
    width: 100%;
}