label, legend {
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: inline-block;
}
input, textarea {
    border:  var(--border-width) solid var(--black-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 100%
}
input:focus-visible, textarea:focus-visible {
    outline: 0;
    border-color: var(--interactive-color);
    background-color: var(--light-bg);
}
.aaog-input-wrapper {
    margin-bottom: 1rem;
}
.aaog-input-wrapper button {
    width: 100%;
}
.aaog-contact-info {
    background: var(--light-bg);
    border: var(--border-width) solid var(--black-color);
    border-radius: var(--border-radius);
    padding: var(--side-gap);
    display: none;
}
fieldset {
    border: 0;
    padding: 0;
    border-bottom: 0.125rem solid var(--black-color);
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .aaog-contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
    }
    .aaog-contact-info {
        max-width: 75%;
        display: block;
    }
}