 /* Productos Home */
 :root {
  
 }
 .aaog-product-wrapper {
    padding: 1rem 1rem 2rem;
    border: var(--border-width) solid var(--dark-bg);
    margin-bottom: 1rem;
    flex-basis: 30%;
  }
  .aaog-product-wrapper figure {    
    aspect-ratio: 4 / 3;
  }
  
  .aaog-product-wrapper img {
    vertical-align: middle;
    border-radius: var(--border-radius);
    width: 100%;
    border: var(--border-width) solid transparent
  }
  .aaog-product-wrapper a:focus-visible h3,
  .aaog-product-wrapper a:hover h3 {
    background-color: var(--interactive-color);
    color: var(--white-color);
  }
  .aaog-product-wrapper a:focus-visible img,
  .aaog-product-wrapper a:hover img {
    border-color: var(--interactive-color);
  }
  .aaog-product-wrapper h3,
  .aaog-product-wrapper h2 {
    margin: calc( 1ex / 0.50 ) 0;
  }
  @media (min-width: 768px) {
    .aaog-products-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);  
      gap: var(--side-gap);
      margin: 2rem auto;  
    }
  }