/* Product Page */
.aaog-breadcrum {
    width: 100%;
    border-radius:  var(--border-radius);
    border: var(--border-width) solid var(--dark-bg);
    margin-top: 0.5rem;
}
.aaog-breadcrum ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}
.aaog-breadcrum ul li {
    flex-basis: 31%;
    position: relative;
    vertical-align: middle;
}
.aaog-breadcrum ul li::after {
    content: '>';
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
}
.aaog-breadcrum ul li:focus-within:after {
    color: var(--light-bg);
}
.aaog-breadcrum ul li:last-child::after {
    display: none;
}
.aaog-breadcrum a {
    padding: 0.2rem;
    display: inline-block;
    border: 0;
    font-size: clamp(0.875rem, 0.7934rem + 0.4082vw, 1.125rem);
    margin-bottom: 0;
}
.aaog-code {
    font-size: clamp(1rem, 0.91rem + 0.5341vw, 1.5rem);
    vertical-align: middle;
    background-color: var(--dark-bg);
    color: var(--white-color);
    font-weight: 700;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    letter-spacing: 0.25rem;
    text-shadow:  var(--black-color) 0.125rem 0.2rem;
    line-height: 1.9;
}
.aaog-image-gallery-wrapper{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
}
.aaog-image-gallery-wrapper li:first-of-type {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 2;  
}
.aaog-image-gallery-wrapper li figure {
    aspect-ratio: 1.6;
    overflow: hidden;
    background: var(--light-bg);
    border: var(--border-width) solid var(--black-color);
    border-radius: var(--border-radius);
    margin: 0;
}
.aaog-image-gallery-wrapper li img{
    object-fit: cover;
    width: 110%;
    height: auto;
}
.aaog-image-gallery-wrapper li a:hover,
.aaog-image-gallery-wrapper li a:focus-visible {
    outline: 0.25rem solid var(--interactive-color);
    outline-offset: 0.125rem;
}
.aaog-product-data-divider {
    margin-bottom: 2rem;
}
table {
    border: var(--border-width) solid var(--dark-bg);
    border-collapse: collapse;
}
table caption {
    font-family: var(--titles-font);
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    margin-bottom: 1.5rem;
}
table :where(th, td) {
    padding: 0.35rem;
    text-align: left;
    vertical-align: baseline;
}
table tr:nth-child(odd) {
    background-color: var(--dark-bg);
    color: var(--white-color);
}
table tr {
    display: block;
}
.aaog-btn-wrapper {
    margin-bottom: 2rem;    
}
.aaog-btn-wrapper .aaog-btn {
    margin: 0 auto;
}
.aaog-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.aaog-share-social-media {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}
.aaog-share-social-media li {
    width: 22%;
}
.aaog-share-social-media li a {
    border: var(--border-width) solid transparent; 
    display: block;
}
.aaog-share-social-media li a svg {
    margin: 0 auto;
}
.aaog-share-social-media li a:hover, 
.aaog-share-social-media li a:focus-visible {
    border: var(--border-width) solid var(--black-color);
    background: transparent;
}
.aaog-modal {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2rem 1rem 1rem;
    background: var(--white-color);
    overflow: scroll;
    z-index: 3;
}
.aaog-modal legend {
    font-size: clamp(1.9rem, 3.5vh, 3rem);
    font-family: var(--titles-font);
}
.aaog-close-modal {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: var(--white-color);
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDIwMDEwOTA0Ly9FTiIKICJodHRwOi8vd3d3LnczLm9yZy9UUi8yMDAxL1JFQy1TVkctMjAwMTA5MDQvRFREL3N2ZzEwLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4wIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiB3aWR0aD0iNjAuMDAwMDAwcHQiIGhlaWdodD0iNjAuMDAwMDAwcHQiIHZpZXdCb3g9IjAgMCA2MC4wMDAwMDAgNjAuMDAwMDAwIgogcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCI+Cgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCw2MC4wMDAwMDApIHNjYWxlKDAuMTAwMDAwLC0wLjEwMDAwMCkiCmZpbGw9IiMwMDAwMDAiIHN0cm9rZT0ibm9uZSI+CjxwYXRoIGQ9Ik0xMDUgNDkwIGwtMjkgLTMwIDc5IC04MCA4MCAtODAgLTgwIC04MCAtODAgLTgwIDMzIC0zMiAzMiAtMzMgODAKODAgODAgODAgODAgLTgwIDgwIC04MCAzMiAzMyAzMyAzMiAtODAgODAgLTgwIDgwIDgwIDgwIDgwIDgwIC0zMyAzMiAtMzIgMzMKLTgwIC04MCAtODAgLTgwIC03OCA3OCBjLTQyIDQyIC04MCA3NyAtODMgNzcgLTMgMCAtMTggLTE0IC0zNCAtMzB6Ii8+CjwvZz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 768px) {
    table {
        width: 100%;
    }
    table tr {
        display: table-row;
    }
}

@media (min-width: 1024px) {
    .aaog-product-data-divider {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-content: flex-start;
        gap: 2rem;
    }
    .aaog-product-description {
        width: 54%;
    }
    .aaog-product-data {
        width: 44%;
    }
    .aaog-image-gallery-wrapper{
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1rem
    }
    .aaog-image-gallery-wrapper li:first-of-type {
        grid-column-start: 1;
        grid-column-end: span 8;
        grid-row-start: 1;
        grid-row-end: 8;  
    }
    .aaog-modal-body {
        width: 50%;
        left: 25%;
        top: 5%;
        background-color: var(--white-color);
        position: fixed;
        right: 25%;
        padding: 2rem 1rem 1rem;
        max-height: 80lvh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .aaog-modal {        
        background-color: rgba(0, 0, 0, 0.75);
        padding: 0;
    }
}