/* Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* AAOG Styles */

  /* Variables */

  /* Colores */
  :root {
    --white-color: #FFF;
    --black-color: #232020;
    --light-bg: #F5E0B7;
    --dark-bg: #4F5A69;
    --interactive-color: #004452;
    --titles-font: 'Oswald', sans-serif;
    --body-text-font: 'Merriweather', serif;
  }
  /* Fuentes */

  body {
    font-family: var(--body-text-font);
    font-size: clamp(1rem, 1.5vw + 1rem, 1.25rem);
    line-height: calc(1ex / 0.32);
    line-height: 1.5;
    color: var(--black-color);
    font-size-adjust: 0.5;
    word-spacing: 130%;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--titles-font);
    font-weight: 700;
    max-width: 60ch;
  }

  h1 {
    font-size: clamp(2rem, 5vw + 1rem, 4.5rem);
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
  }  
  h2 {
    font-size: clamp(1.75rem, 3vw + 1rem, 3rem);
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
  }
  h3 {
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
  }
  h4 {
    font-size: clamp(1.3rem, 2vw + 1rem, 2rem);
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37) 0;
  }
  h5 {
    font-size: 1.25rem;
    font-style: italic;
    line-height: calc(1ex / 0.36);
    margin: calc(1ex / 0.36) 0;
  }
  h6 {
    font-size: 1rem;
    font-style: italic;
    line-height: calc(1ex / 0.35);
    margin: calc(1ex / 0.35) 0;
  }

  /* Helper classes */
  .aaog-visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .aaog-skip-link {
    background: var(--interactive-color);
    color: var(--white-color);
    display: block;
    transition: margin 0.3s;  
    padding: 1.3rem;
    line-height: 0;
    margin: -3rem 0 0;
    text-align: center;
    }
    .aaog-skip-link:focus-visible {
        margin: 0;    
    }
    img, iframe, video {
        max-width: 100%;
        height: auto;
    }
    a {
      color: var(--interactive-color);
    }
    a:focus-visible {
      background-color: var(--interactive-color);
      color: var(--white-color);
      outline: none;
    }
    button, input[type="submit"] {
      color: var(--white-color);
      background-color: var(--interactive-color);
      padding: 1rem 2rem;
      border-color: transparent;
      border-radius: 0.25rem;
      font-weight: 700;
      border-width: 0.125rem;
    }
    button:focus-visible, input[type="submit"]:focus-visible,
    button:hover, input[type="submit"]:hover {
      color: var(--interactive-color);
      background-color: var(--white-color);
      border-color: var(--interactive-color);
    }
    /* Header */
    header {
      background: var(--white-color);
      padding: 1rem;
    }
    header figure {
      width: 6rem; 
      margin: 0 auto 1rem;
    }
    header .logo-link:focus-visible {
      outline-color: var(--black-color);
      outline-offset: 1rem;
      outline-style: double;
      -moz-outline-radius: 50%;
      
    }
    header figure img {
      border-radius: 50%;
    }
    /* navigation */
    .aaog-menu-opener {
      width: 100%;
      position: relative
    }
    .aaog-menu-opener svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;
    }
    .aaog-menu-opener svg > rect {
      fill: var(--white-color);
    }
    .aaog-menu-opener:focus-visible svg > rect {
      fill: var(--interactive-color);
    }
    .aaog-menu-opener[aria-expanded="true"] .middle {
      x: 0;
      opacity: 0;
    }
    .aaog-menu-opener[aria-expanded="true"] .top {
      transform: rotate(45deg);
      transform-origin: center;      
      x: 4px;
      y: 13px;      
    }
    .aaog-menu-opener[aria-expanded="true"] .bottom {
      transform: rotate(-45deg);
      transform-origin: center;
      x: 2px;
      y: 14px;
    }
    .nav-wrapper {
      display: none;
      background-color: var(--light-bg);
      padding: 1rem;
    }
    .aaog-menu-opener[aria-expanded="true"] + .nav-wrapper {
      display: block;
    }
    @media (orientation: landscape) {
      .aaog-menu-opener[aria-expanded="true"] + .nav-wrapper {
        max-height: 50vh;
        overflow: scroll;
      }
    }
    nav > ul {
      list-style: none;
      padding-left: 0;
    }
    nav .aaog-menu-trigger, nav a {
      color: var(--light-bg);
      background-color: var(--black-color);
      text-decoration: none;
      display: block;
      margin-bottom: 0.25rem;
      padding: 1rem 2rem;
      text-align: left;
      width: 100%;
      border: 0.125rem solid transparent;
      border-radius: 0.25rem;
      font-weight: 700;
    }
    nav .aaog-menu-trigger:focus-visible, 
    nav a:focus-visible,
    nav .aaog-menu-trigger:hover, 
    nav a:hover {
      color: var(--black-color);
      background-color: var(--light-bg);
      border-color: var(--black-color);
      outline: none;
    }
    nav .aaog-menu-trigger:focus-visible svg,
    nav .aaog-menu-trigger:hover svg {
      fill: var(--black-color);
    }
    nav ul {
      list-style: none;
    }
    .aaog-menu-trigger {
      position: relative;
    }
    .aaog-menu-trigger svg {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      display: blocK;
      width: 1rem;
      height: 1rem;
      fill: var(--light-bg);
    }
    .aaog-menu-trigger[aria-expanded="true"] svg {
      transform: translateY(-50%) rotate(180deg);
      transform-origin: center;
    }
    .aaog-submenu {
      display: none;
    }
    .aaog-menu-trigger[aria-expanded="true"] + .aaog-submenu {
      display: block;
    }
    .aaog-submenu li a {
      border-radius: 1.25rem 0 0 1.25rem;
    }
    @media (min-width: 1024px) {
      .aaog-menu-opener {
        display: none;
      }
      .nav-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        background-color: transparent;
        padding: 1rem 0;
      }
      .nav-wrapper li {
        flex-basis: 23%;
      }
      .nav-wrapper li:first-child {
        position: relative;        
      }
      .nav-wrapper li:first-child .aaog-submenu {
        position: absolute;
        top: 3.7rem;
        left: 0rem;
        background-color: var(--light-bg);
        width: 100%;
        padding: 1rem;
      }
    }
    @media (min-width: 1200px) {
      header {
        padding: 0 1rem;
      }
      header figure {
        width: 9rem;
        margin-top: 1rem;
      }
      nav .aaog-menu-trigger, nav a {
        font-size: 1.25rem;
      }
      nav {
        max-width: 1300px;
        margin: 0 auto;
      }
    }
  /* main */
  main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  @media (min-width: 1300px) {
    main {
      padding: 0;
    }
  }
  /* animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
    .aaog-skip-link {
        transition: margin 0.3s;    
    }
    .aaog-menu-opener[aria-expanded="true"] .top,
    .aaog-menu-opener[aria-expanded="true"] .bottom,
    .aaog-menu-trigger[aria-expanded="true"] svg {
      transition: transform 1s;
    }
  }
  
  