<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matchlock Musket - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Skip to Content</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/headereng.html') %>
      <main id="main">
        <article>
          <nav aria-describedby="breadcrum" class="aaog-breadcrum">
            <p hidden="hidden" id="breadcrum">
              Navigation to this page
            </p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="pistolasyfusileseng.html">Pistols and Rifles</a></li>
              <li>
                <a href="mosquetemechaeng.html" aria-current="page">Matchlock Musket</a>
              </li>
            </ul>
          </nav>
          <h1>Matchlock Musket <span class="aaog-code">Code: AL003</span></h1>
          <ul id="product-gallery" class="aaog-image-gallery-wrapper">
            <li>
              <a
                data-pswp-width="483"
                data-pswp-height="214"
                role="button"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha1.jpg"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha1.jpg"
                    alt="Matchlock Musket seen by the lock view"
                  />
                  <span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="287"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/al003_imagen002.jpg"
                role="button"
              >
                <figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/al003_imagen002.jpg"
                    alt="Shooting matchlock musket"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure>
              </a>
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="358"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha2.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha2.jpg"
                    alt="Detailed view for the matchlock"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="358"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha3.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha3.jpg"
                    alt="Overhead view of the barrel and its marks"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
              <a
                data-pswp-width="450"
                data-pswp-height="358"
                href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha4.jpg"
                role="button"
                ><figure>
                  <img
                    loading="lazy"
                    src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha4.jpg"
                    alt="Detail view of the lock"
                  /><span class="aaog-visuallyhidden"
                    >Open Image in Detail</span
                  >
                </figure></a
              >
            </li>
            <li>
                <a
                  data-pswp-width="450"
                  data-pswp-height="358"
                  href="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha5.jpg"
                  role="button"
                  ><figure>
                    <img
                      loading="lazy"
                      src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha5.jpg"
                      alt="Detail view of the lock with the powder chamber opened"
                    /><span class="aaog-visuallyhidden"
                      >Open Image in Detail</span
                    >
                  </figure></a
                >
              </li>
          </ul>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
          '/compartir.html') %>
          <div class="aaog-product-data-divider">
            <section
              class="aaog-product-description"
              aria-labelledby="description"
            >
              <h2 id="description">Description</h2>
              <p>
                The model reproduced here is an English model and is only one of the possible
                 matchlock muskets of the century mentioned.
              </p>
              <p>
                The matchlock gun knew its splendor in the Europe that was being unified in the
                 modern age with different forms age with different forms according to the use it
                  was to be given both in the region and across the the region as well as on the
                   other side of the ocean where it was famous as a psychological factor as it
                    served to conquer and extend the domains of the empire.
              </p>
              <p>
                Empire, not only British but also Spanish, Italian, Dutch or any other country in
                 a position to go to sea and to the sea with the aim of subjugating native places 
                 which they could then incorporate as a colony. then incorporate them as a
                  colony. Without going any further with this procedure the Japanese knew the matchlock
                   gun and the Japanese knew the matchlock gun and produced a particular model that
                    although it uses great part of the components of the Europeans ended up being of 
                    the components of the Europeans ended up being characteristic of the Japanese
                     culture. Even even produced a model of pistol that the Europeans came to know
                      later.
              </p>
            </section>
            <section class="aaog-product-data" aria-labelledby="data">
              <h2 id="data">Features</h2>
              <table class="aaog-product-table">
                <caption>
                  Matchlock Musket
                </caption>
                <tr>
                  <th scope="row">Barrel:</th>
                  <td>
                    plain interior
                  </td>
                </tr>
                <tr>
                  <th scope="row">Caliber:</th>
                  <td>61</td>
                </tr>
                <tr>
                  <th scope="row">Lock:</th>
                  <td>Matchlock</td>
                </tr>
                <tr>
                  <th scope="row">Guards:</th>
                  <td>iron</td>
                </tr>
              </table>
              <div class="aaog-qr-wrapper">
                <img src="" alt="" id="qr">
              </div>
            </section>
          </div>
          <div class="aaog-btn-wrapper">
            <button type="button" class="aaog-btn aaog-modal-trigger">Ask a quotation</button>
          </div>
          <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/modal.html') %>          
        </article>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footereng.html') %>
    </div>
  </body>
</html>
