<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Armas Antiguas Osvaldo Gatto - Contacto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/fontfiles.html') %> <%=
    require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
    '/favicon.html') %>
  </head>
  <body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/header.html') %>
      <main id="main">
        <h1>Contacto</h1>
        <article class="aaog-contact">
          <form id="contactForm" action="">
            <div role="alert" tabindex="-1" hidden>
              <span aria-hidden="true" class="error-icon"></span>
              Por favor revisar los campos con error
            </div>
            <div class="aaog-input-wrapper">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                name="nombre"
                id="nombre"
                aria-invalid="false"
                required
              />
            </div>
            <div class="aaog-input-wrapper">
              <label for="email">Email</label>
              <input
                type="text"
                name="email"
                id="email"
                aria-invalid="false"
                required
              />
            </div>
            <div class="aaog-input-wrapper">
              <label for="asunto">Asunto (opcional)</label>
              <input type="text" name="asunto" id="asunto" />
            </div>
            <div class="aaog-input-wrapper">
              <label for="comentario">Comentario</label>
              <textarea
                name="comentario"
                id="comentario"
                cols="30"
                rows="10"
                aria-invalid="false"
                required
              ></textarea>
            </div>
            <div class="aaog-input-wrapper">
              <button type="submit" class="aaog-btn">Enviar</button>
            </div>
          </form>
          <address class="aaog-contact-info">
            <p>
              <strong>Ciudad: </strong>(S2001AFH) Rosario - Santa Fe - Argentina
            </p>
            <p>
              <strong>Tel&eacute;fono: </strong
              ><a href="tel:+543417773379">(+54) 341 777-3379</a>
            </p>
            <p><strong>e-mail: </strong>avancarga@osvaldogatto.com.ar</p>
          </address>
        </article>

        <div id="aaog-form-success" class="aaog-overflow-hidden" hidden>
          <h2 id="success-title">Gracias por ponerse en contacto!</h2>
          <figure class="aaog-img-left">
            <img src="src/imagenes/recibido.jpg" alt="Sello Rojo de Recibido" />
          </figure>
          <p>En breve estaremos respondi&eacute;ndole</p>
          <div class="aaog-input-wrapper">
            <button type="button" class="aaog-btn">Volver</button>
          </div>
        </div>
        <div id="aaog-form-error" class="aaog-overflow-hidden" hidden>
          <h2 id="error-title">
            Lamentablemente el formulario no se envi&oacute;
          </h2>
          <figure class="aaog-img-left">
            <img
              src="src/imagenes/error.jpg"
              alt="Bola de Ca&ntilde;&oacute;n metida en una pared"
            />
          </figure>
          <p>Por favor, pruebe de nuevo en unos minutos</p>
          <div class="aaog-input-wrapper">
            <button type="button" class="aaog-btn">Volver</button>
          </div>
        </div>
      </main>
      <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath +
      '/footer.html') %>
    </div>
  </body>
</html>
