<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armas Antiguas Osvaldo Gatto - Contacto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/fontfiles.html') %>
</head>
<body>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/header.html') %>
    <main id="main">
        <h1>Contacto</h1>
        <form action="">
            <div class="aaog-input-wrapper">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" aria-invalid="false" required>
            </div>
            <div class="aaog-input-wrapper">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" aria-invalid="false" required>
            </div>
            <div class="aaog-input-wrapper">
                <label for="asunto">Asunto (opcional)</label>
                <input type="text" name="asunto" id="asunto">
            </div>
            <div class="aaog-input-wrapper">
                <label for="comentario">Comentario</label>
                <textarea name="comentario" id="comentario" cols="30" rows="10" aria-invalid="false" required></textarea>
            </div>
            <div class="aaog-input-wrapper">
                <button type="submit" class="aaog-btn">Enviar</button>
            </div>  
        </form>
        <div id="aaog-form-success" hidden>
            <h2 id="success-title">Gracias por ponerse en contacto!</h2>
            <p>En breve estaremos respondi&eacute;ndole</p>
            <div class="aaog-input-wrapper">
                <button type="button" class="aaog-btn">Volver</button>
            </div>
        </div>
        <div id="aaog-form-error" hidden>
            <h2 id="error-title">Lamentablemente el formulario no se envi&oacute;</h2>
            <p>Por favor, pruebe de nuevo en unos minutos</p>
            <div class="aaog-input-wrapper">
                <button type="button" class="aaog-btn">Volver</button>
            </div>
        </div>
    </main>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/footer.html') %>
</body>
</html>