<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armas Antiguas Osvaldo Gatto - Artiller&iacute;a</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/fontfiles.html') %>
</head>
<body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/header.html') %>    
        <main id="main">
            <article>
                <h1>Productos - Artiller&iacute;a</h1>
                <div id="filters" class="aaog-filter-trigger">                
                    <fieldset>
                        <legend>Fabricamos 3 tipos de r&eacute;plicas funcionales de artiller&iacute;a:</legend>
                        <div id="options"></div>
                    </fieldset>
                    <div class="aaog-input-wrapper aaog-text-center">
                        <button class="aaog-btn" type="button" id="resetTrigger">Limpiar Filtro</button>
                    </div>              
                </div>            
                <div class="aaog-products-container">
                    <section class="aaog-product-wrapper" data-feature="field">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnapoleonico/cn091.jpg" alt="R&eacute;plica de Ca&ntilde;oncito Napole&oacute;nic">
                        </figure>
                        <h2>Ca&ntilde;oncito Napole&oacute;nico</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Campo</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> CN009</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Ca&ntilde;oncito Napole&oacute;nico</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="field">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnapoleonico21mm/cn011_imagen.jpg" alt="Ca&ntilde;&oacute;n Napole&oacute;nico 21 mm">
                        </figure>
                        <h2>Ca&ntilde;&oacute;n Napole&oacute;nico 21mm</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Campo</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> CN011</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Ca&ntilde;&oacute;n Napole&oacute;nico 21 mm</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="field">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canon63/cn008_imagen.jpg" alt="Ca&ntilde;&oacute;n Napole&oacute;nico 63">
                        </figure>
                        <h2>Ca&ntilde;&oacute;n Napole&oacute;nico 63"</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Campo</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> CN014</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Ca&ntilde;&oacute;n Napole&oacute;nico 63"</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnavalcal54/car_540.jpg" alt="Carronada Naval Calibre .54">
                        </figure>
                        <h2>Carronada Naval Calibre .54</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Naval</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> CAD54</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Carronada Naval Calibre .54</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnavalespanol1810/cn005_imagen.jpg" alt="Ca&ntilde;&oacute;n Naval Espa&ntilde;ol 1810">
                        </figure>
                        <h2>Ca&ntilde;&oacute;n Naval Espa&ntilde;ol 1810</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Naval</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> CN005</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Ca&ntilde;&oacute;n Naval Espa&ntilde;ol 1810</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonnavaldeavisovictory/cn006_imagen.jpg" alt="Ca&tilde;&oacute;n Naval de Aviso Victory">
                        </figure>
                        <h2>Ca&ntilde;&oacute;n Naval de Aviso Victory</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Naval</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> CN006</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Ca&tilde;&oacute;n Naval de Aviso Victory</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/canonvictoryacero/steel1.jpg" alt="Ca&ntilde;&oacute;n Naval HMS: Victory de Acero">
                        </figure>
                        <h2>Ca&ntilde;&oacute;n Naval HMS: Victory de Acero</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Naval</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> CN008</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Ca&ntilde;&oacute;n Naval HMS: Victory de Acero</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="navy">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/culebrina/cu001_imagen.jpg" alt="Culebrina Royal Fortune">
                        </figure>
                        <h2>Culebrina Royal Fortune</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Naval</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> CU001</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Culebrina Royal Fortune</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="mortar">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/morterodecampana/mo001_imagen.jpg" alt="Morterito de Campa&ntilde;a">
                        </figure>
                        <h2>Morterito de Campa&ntilde;a</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Mortero</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> MO001</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Morterito de Campa&ntilde;a</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="mortar">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/morteroingleslondon/mo002_imagen.jpg" alt="Mortero Ingl&eacute;s London">
                        </figure>
                        <h2>Mortero Ingl&eacute;s London</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Mortero</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> MO002</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Mortero Ingl&eacute;s London</span></a></p>
                    </section>
                    <section class="aaog-product-wrapper" data-feature="mortar">                    
                        <figure>
                            <img loading="lazy" src="src/imagenes/productos/canones/morterointermedioespanol/mo003_imagen.jpg" alt="Mortero Intermedio Espa&ntilde;ol">
                        </figure>
                        <h2>Mortero Intermedio Espa&ntilde;ol</h2>
                        <p class="aaog-product-feature">
                            Tipo de Artiller&iacute;a:
                            <span class="aaog-ignition-type">Mortero</span>  
                        </p>  
                        <p class="aaog-product-feature">C&oacute;digo:<strong> MO003</strong></p>                 
                        <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Mortero Intermedio Espa&ntilde;ol</span></a></p>
                    </section>
                </div>
            </article>
        </main>
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/footer.html') %>
    </div>
</body>
</html>