<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pistolas y  Fusiles - Armas Antiguas Osvaldo Gatto</title>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/fontfiles.html') %>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/favicon.html') %>
</head>
<body>
    <a href="#main" class="aaog-skip-link">Ir al contenido</a>
    <div class="aaog-gral-wrapper">
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/header.html') %>
    <main id="main">
        <article>
            <h1>Productos - Pistolas y Fusiles</h1>
            <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/filtro.html') %>
            <p id="productQuatity" aria-live="polite"></p>            
            <ul class="aaog-products-container">
                <li class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolademecha/pm_mecha1.jpg" alt="R&eacute;plica de Pistola de Mecha">
                    </figure>
                    <h2>Pistola de Mecha</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Mecha</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PM001</strong></p>                 
                    <p class="aaog-text-center"><a href="mechaalemana.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola de Mecha</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolajaponesa/Kumamoto00.jpg" alt="R&eacute;plica de Pistola de Mecha Japonesa">
                    </figure>
                    <h2>Pistola de Mecha Japonesa</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Mecha</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PM002</strong></p>                 
                    <p class="aaog-text-center"><a href="mechajaponesa.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola de Mecha Japonesa</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="matchlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/mosquetemecha/mosqu_mecha1.jpg" alt="R&eacute;plica de Mosquete de Mecha">
                    </figure>
                    <h2>Mosquete de Mecha</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Mecha</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> AL003</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Mosquete de Mecha</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="wheellock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolarueda/pistoladerueda.jpg" alt="R&eacute;plica de Pistola Alemana de Rueda 1632">
                    </figure>
                    <h2>Pistola Alemana de Rueda 1632</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Rueda</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PAR001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Alemana de Rueda 1632</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/fotoreplicadepistoladebelgrano.jpg" alt="R&eacute;plica de Pistola del General Manuel Belgrano">
                    </figure>
                    <h2>Pistola del General Manuel Belgrano</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature"><strong>Pistola de edici&oacute;n limitada</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola del General Manuel Belgrano</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalightdragon/dragoon01.jpg" alt="R&eacute;plica de Pistola Light Dragoon">
                    </figure>
                    <h2>Pistola Light Dragoon</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PC002</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Light Dragoon</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolakentucky/kent_ch1.jpg" alt="R&eacute;plica de Pistola Kentucky">
                    </figure>
                    <h2>Pistola Kentucky</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PC003</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Kentucky</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaharpersferry/pc004n_imagen.jpg" alt="R&eacute;plica de Pistola Harper's Ferry">
                    </figure>
                    <h2>Pistola Harper's Ferry</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PC004</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Harper's Ferry</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagemoutier/lepagechispa00.jpg" alt="R&eacute;plica de Le Page Moutier version Pedernal">
                    </figure>
                    <h2>Le Page Moutier version Pedernal</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PC006</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Le Page Moutier version Pedernal</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaperkins/perkins011.jpg" alt="R&eacute;plica de Pistola de Duelo Inglesa Perkins">
                    </figure>
                    <h2>Pistola de Duelo Inglesa Perkins</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PC007</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola de Duelo Inglesa Perkins</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolatrabucobritanica/trabucopistola00.jpg" alt="R&eacute;plica de Pistola Trabuco Brit&aacute;nica">
                    </figure>
                    <h2>Pistola Trabuco Brit&aacute;nica</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PC008</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Trabuco Brit&aacute;nica</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaseaservice/seaservice00.jpg" alt="R&eacute;plica de Pistola Brit&aacute;nica Sea Service">
                    </figure>
                    <h2>Pistola Brit&aacute;nica Sea Service</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> SEA001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Brit&aacute;nica Sea Service</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/trabuconaranjero/trab_ch1.jpg" alt="R&eacute;plica de PTrabuco Naranjero de Cochero">
                    </figure>
                    <h2>Trabuco Naranjero de Cochero</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> TRAB_CH</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Trabuco Naranjero de Cochero</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflebbess/bbess1.jpg" alt="R&eacute;plica de Brown Bess">
                    </figure>
                    <h2>Mosquete Brown Bess</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> AL002</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Mosquete Brown Bess</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="flintlock">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/fusilcharleville/charleville00.jpg" alt="R&eacute;plica de Fusil Franc&eacute;s Charleville">
                    </figure>
                    <h2>Fusil Franc&eacute;s Charleville</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Pedernal</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> AL004</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Fusil Franc&eacute;s Charleville</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaperkinspercusion/perkinspercusion00.jpg" alt="R&eacute;plica de Pistola de Percusiòn Perkins">
                    </figure>
                    <h2>Pistola de Percusi&oacute;n Perkins</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PE021</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola de Percusiòn Perkins</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagepercusion/lepage00.jpg" alt="R&eacute;plica de Pistola Le Page Moutier">
                    </figure>
                    <h2>Pistola Le Page Moutier</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PLE011</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Le Page Moutier</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolakentuckypercusion/pp001_imagen.jpg" alt="R&eacute;plica de Pistola Kentucky Percusi&oacute;n">
                    </figure>
                    <h2>Pistola Kentucky Percusi&oacute;n</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PP001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Kentucky Percusi&oacute;n</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolabarnett/barnett01.jpg" alt="R&eacute;plica de Pistola Enfield (Barnett)">
                    </figure>
                    <h2>Pistola Enfield (Barnett)</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PP002</strong></p>                 
                    <p class="aaog-text-center"><a href="barnett.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Kentucky Percusi&oacute;n</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaaston/aston1.jpg" alt="R&eacute;plica de Pistola Aston">
                    </figure>
                    <h2>Pistola Aston</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PP003</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Aston</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolaaustriaca/pp005_imagen.jpg" alt="R&eacute;plica de Pistola Austr&iacute;aca">
                    </figure>
                    <h2>Pistola Austr&iacute;aca</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PP005</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Austr&iacute;aca</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolatrabucopercusion/trabperc00.jpg" alt="R&eacute;plica de Trabuco Naranjero Percusi&oacute;n">
                    </figure>
                    <h2>Trabuco Naranjero Percusi&oacute;n</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PP014</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Trabuco Naranjero Percusi&oacute;n</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalorenz/pp016.jpg" alt="R&eacute;plica de Pistola Austr&iacute;aca Lorenz">
                    </figure>
                    <h2>Pistola Austr&iacute;aca Lorenz</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PP016</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Austr&iacute;aca Lorenz</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/pistolalepagemoutieroctogonal/12estrias81.jpg" alt="R&eacute;plica de Pistola Le Page Moutier a Paris (octogonal)">
                    </figure>
                    <h2>Pistola Le Page Moutier a Paris (octogonal)</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> PP020</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Pistola Le Page Moutier a Paris (octogonal)</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflekentucky/frontier1.jpg" alt="R&eacute;plica de Kentucky Rifle">
                    </figure>
                    <h2>Kentucky Rifle</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> AL001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Kentucky Rifle</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/riflebigbore/img_20190411_110107.jpg" alt="R&eacute;plica de Rifle Big Bore">
                    </figure>
                    <h2>Rifle Big Bore</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> BBR01</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Rifle Big Bore</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/escopetaunderhammer/escopetagatto00.jpg" alt="R&eacute;plica de Escopeta Underhammer Golden Shotgun">
                    </figure>
                    <h2>Escopeta Underhammer Golden Shotgun</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> ESC001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Escopeta Underhammer Golden Shotgun</span></a></p>
                </li>
                <li class="aaog-product-wrapper" data-feature="percussion">                    
                    <figure>
                        <img loading="lazy" src="src/imagenes/productos/pistolasyfusiles/rifleunderhammergoldenboy/runderhammer00.jpg" alt="R&eacute;plica de Rifle Underhammer Golden Boy">
                    </figure>
                    <h2>Rifle Underhammer Golden Boy</h2>
                    <p class="aaog-product-feature">
                        Sistema de Ignici&oacute;n: 
                        <span class="aaog-ignition-type">Percusi&oacute;n</span>  
                    </p>  
                    <p class="aaog-product-feature">C&oacute;digo:<strong> UH001</strong></p>                 
                    <p class="aaog-text-center"><a href="/es/productos/pistolas.html" class="aaog-btn">Ver m&aacute;s <span class="aaog-visuallyhidden">Rifle Underhammer Golden Boy</span></a></p>
                </li>                
            </ul>            
        </article>
    </main>
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.filePath + '/footer.html') %>
    </div>    
</body>
</html>