.aaog-gallery li {
    width: 28%;
    margin-bottom: 3rem;
}
.aaog-gallery li a {
    border: 0.5rem solid transparent;
    border-radius: var(--border-radius);
    display: block;
}
.aaog-gallery li a:focus-visible,
.aaog-gallery li a:hover {
    border-color: var(--interactive-color);
    filter:contrast(200%);
} 
.aaog-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.pswp__bg {
    opacity: 1!important;
}
@media (min-width: 768px) {
    .aaog-gallery li {
        width: 31%;
    }
}
@media (min-width: 1000px) {
    .aaog-gallery li {
        width: 22%;
    }
}
